<div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title"> {{title}}</h6>
    <div class="d-flex w-100">
      <span class="flex-spacer"></span>
      <nb-icon
        class="mr-2 btnClose"
        nbSuffix
        icon="close"
        (click)="onNoClick()"
      ></nb-icon>
    </div>
  </div>
  
    
    <div class="py-3 px-2 bodyModal">
      <div class="flex-v-center">
        <img [src]="data?.rutaImagen || rutaImagen" alt="Logo pregunta eliminar" />
      </div>
    
     
      <div class="fw-400 flex-v-center my-3" style="text-align: center;">
        {{ data?.bodyText || 'Se elimará la reunión agendada,  ¿Está realmente seguro de realizar la siguiente acción?' }}
      </div>
    
      <div class="flex-v-center mt-4">
  
        <button
          nbButton
          shape="round"
          status="primary"
          class="py-2 px-5 mr-3"
          (click)="onNoClick(true)"
          style='color: white; background-color: #0DACBC; border-color: #0DACBC;'
          size="large"
        >
          {{ data.textOk || 'Aceptar' }}
        </button>
          
        <button
          nbButton
          outline
          shape="round"
          status="primary"
          class="py-2 px-5"
          (click)="onNoClick()"
          style='color: white; background-color: #ADB5BD; border-color: #ADB5BD;'
          size="large"
        >
          {{ data.textCancel || 'Cancelar' }}
        </button>
       
      </div>
    </div>
    