@import '_colors';

h6 {
  color: $primary-color;
}

.decoracion {
  display: inline;
  padding: 3px 7px;
  border-radius: 50%;
  color: white;
  background-color: #0c6d97;
}

.contenido1 {
  margin-left: 1.5rem;
}

.contenido2 {
  margin-left: 1.5rem;
}

.catesustento {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catesustento .sustento {
  margin-left: 0.5rem;
}

.contenedor {
  text-align: left;
  width: 100%;
  margin: auto;
}

.lateral {
  width: 35%;
  float: left;
}

.principal {
  width: 65%;
  float: right;
  background-color: #ffffff;
}

.btn-card-black {
  color: $primary-color;
  font-size: 1.5rem;
  margin-top: 4px;
  margin-left: 2px;
  margin-right: 2px;
  background: none;
  border: none;
  border-radius: 0.125rem;
  transition: 0.2s;
  &:enabled:hover {
    transform: scale(1.3);
  }
  &:disabled {
    color: rgba(13, 136, 188, 0.3);
  }
}

.item_card_input_img {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  margin-bottom: 5px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid $primary-color;
  width: 100%;
}

.item_card_input_img_error {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  margin-bottom: 5px;
  height: 35px;
  border-radius: 8px;
  border: 1px solid red;
  width: 100%;
}

.divMargin {
  margin-top: -30px;
}
 
.divHeaderMargin {
  margin-bottom: 20px;
}

.file-input {
  display: none;
}

.filename {
  font-weight: bold;
  color: $primary-color;
  margin-left: 15px;
  font-size: 0.95rem;
}

.imagenBase {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 10%;
  width: 231px;
  height: 44;
}

.observacionStyle {
  width: 97%;
  height: 100px;
  border: 1px solid #d0d0d0d4;
  padding: 15px;
  font: 12px;
  outline: none;
  resize: none;
}
