<div class="d-flex w-100">
  <span class="flex-spacer"></span>
  <nb-icon
    class="mr-2 btnClose"
    nbSuffix
    icon="close"
    (click)="onNoClick()"
  ></nb-icon>
</div>

<div class="mb-12 col-md-12 divHeaderMargin">
  <div class="flex-v-center flex-column">
    <img
      src="assets/images/icons/formulario.png"
      style="height: 50px; width: 55px"
      alt="Logo"
    />
    <h6 class="mt-3">{{ title }}</h6>
  </div>
</div>

<div class="py-2 mx-2 container-fluid divMargin">
  <form [formGroup]="Form" class="row">
    <div class="mb-6 col-md-6 mdcss">
      <select-field
        [label]="'Tipo de comunicado'"
        [control]="f.comunicado"
        [valueToShow]="'descripcion'"
        [value]="'id'"
        [items]="comunicados"
      ></select-field>
    </div>
    <div class="mb-6 col-md-6 mdcss">
      <select-field
        [label]="'Perfil de puesto(Opcional)'"
        [control]="f.perfil"
        [items]="perfiles"
        [value]="'id'"
        [valueToShow]="'descripcion'"
      >
      </select-field>
    </div>

    <div class="mb-12 col-md-12 mdcss">
      <div>
        <label> </label>
        <div class="item-card-input-img" style="background-color: white">
          <div
            style="
              width: 70%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
            "
          >
            <div class="filename">
              {{ fileName }}
            </div>
          </div>
          <div
            style="
              width: 30%;
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
            "
          >
            <button
              matRipple
              title="Subir"
              class="btn-card-black"
              (click)="fileUpload.click()"
            >
              <em class="ent-web-subir"></em>
            </button>
            <input
              type="file"
              class="file-input"
              accept="application/pdf"
              (change)="onFileSelected($event)"
              #fileUpload
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div style="align-self: center; margin-top: 15px">
  <div class="flex-v-center">
    <div class="col-4">
      <button
        nbButton
        outline
        shape="round"
        status="primary"
        fullWidth
        (click)="onNoClick()"
      >
        Cancelar
      </button>
    </div>
    <div class="col-4">
      <button
        nbButton
        shape="round"
        status="primary"
        fullWidth
        (click)="GuardarComunicado()"
      >
        Crear Comunicado
      </button>
    </div>
  </div>
</div>
