  <div class="row no-margin">
    <carousel [overflowCellsLimit]="3" [cellsToShow]="4.5" style="z-index: 1;">

      <div class="carousel-cell">
        <nb-card>
          <nb-card-header class="totalservidores" style="border-top-left-radius: 16px;border-top-right-radius: 16px;">
          </nb-card-header>
          <nb-card-body>
            <div>
              <h5>10,000</h5>
            </div>
            <div class="row">
              <div class="col-sm-8">
                Total de Servidores
              </div>
              <div class="col-sm-4">
                <nb-icon icon="people" nbSuffix></nb-icon>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="carousel-cell">
        <nb-card>
          <nb-card-header class="carrerasespeciales"
            style="border-top-left-radius: 16px;border-top-right-radius: 16px;"></nb-card-header>
          <nb-card-body>
            <div>
              <h5>10,000</h5>
            </div>
            <div class="row">
              <div class="col-sm-8">
                Con carreras especiales
              </div>
              <div class="col-sm-4">
                <nb-icon icon="people" nbSuffix></nb-icon>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="carousel-cell">
        <nb-card>
          <nb-card-header class="sindicalizados" style="border-top-left-radius: 16px;border-top-right-radius: 16px;">
          </nb-card-header>
          <nb-card-body>
            <div>
              <h5>10,000</h5>
            </div>
            <div class="row">
              <div class="col-sm-8">
                Sindicalizaciones
              </div>
              <div class="col-sm-4">
                <nb-icon icon="people" nbSuffix></nb-icon>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="carousel-cell">
        <nb-card>
          <nb-card-header class="totaljefes" style="border-top-left-radius: 16px;border-top-right-radius: 16px;">
          </nb-card-header>
          <nb-card-body>
            <div>
              <h5>10,000</h5>
            </div>
            <div class="row">
              <div class="col-sm-8">
                Total de jefes por 0,
                UO, Sub OU
              </div>
              <div class="col-sm-4">
                <nb-icon icon="people" nbSuffix></nb-icon>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="carousel-cell">
        <nb-card>
          <nb-card-header class="modalidad" style="border-top-left-radius: 16px;border-top-right-radius: 16px;">
          </nb-card-header>
          <nb-card-body>
            <div>
              <h5>10,000</h5>
            </div>
            <div class="row">
              <div class="col-sm-8">
                Por movilidad, y formativa
              </div>
              <div class="col-sm-4">
                <nb-icon icon="people" nbSuffix></nb-icon>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

    </carousel>
  </div>

