.cursor-pointer {
  cursor: pointer;
}

.back-font-weight {
  font-weight: 400;
}

.custom-footer-card {
  text-align: center;
  background-color: #146080 !important;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.correct-style {
  color: rgb(28, 143, 192);
}

.incorrect-style {
  color: rgb(228, 228, 228);
}

.mat-icon {
  color: #0D88BC;
}

.custom-border-top {

}
