@import '_colors';


span {
  font-size: 0.75rem !important;
}

img {
  height: 2.5rem !important;
}

.tooltip-body:hover .popoverInfo {
  visibility: visible;
}
.tooltip-body {
    // max-width: 300px !important;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding: 0.938rem;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.popoverInfo {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
