@import '../../../../@common-components/material-table/material-table.component.scss';
@import 'colors';

.statusProceso {
  background-color: #51B7F0;
  color: white;
}

.statusDesierta {
  background-color: #9c8686;
  color: #fff;
}

.statusCancelado {
  background-color: #777777;
  color: #fff;
}

.statusCulminado {
  background-color: #b9b9b9;
  color: #fff;
}

.statusGenerado {
  background-color: #a2aaf7;
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.statusSpan {
  width: 5rem;
  border-radius: 0.25rem;
}

.subtitle {
  display: flex;
  align-items: center;
}

.btn-excel {
  background-color: white !important;
  border: 1px solid #3b3a3c !important;
  border-radius: 0.5rem !important;
  &:disabled {
    border: 1px solid #ccc !important;
  }
}
