<div class="body" (resized)="onResized($event)">
  <div class="flex-v-center-left mb-4">
    <button mat-icon-button color="primary" (click)="goBack()">
      <nb-icon nbSuffix icon="back"></nb-icon>
    </button>
    <span class="fs-24 fw-500 titleBase">
      Informe de bonificación de
      {{ helperService.bonificacionSelected?.descripcion || '' | lowercase }}
    </span>
  </div>

  <mat-divider></mat-divider>

  <form [formGroup]="bonificacionForm" *ngIf="f != null" class="container-fluid row mt-3">
    <div class="col-12 mb-3">
      <input-field
        [control]="f.titulo"
        [label]="'Ingrese título de la bonificación'"
        [maxlength]="100"
        [banKeyType]="5"
        [minlength]="0"
      >
      </input-field>
    </div>

    <div class="col-12 mb-3">
      <label>Ingrese resumen de bonificación</label>
      <quill-editor
        [styles]="editorStyle"
        placeholder=""
        formControlName="resumen"
        required
        (onContentChanged)="getValueLength($event)"
      >
      </quill-editor>
      <div class="flex-v-center">
        <span
          class="invalid-text"
          *ngIf="f.resumen.touched && f.resumen.invalid"
        >
          El contenido de la bonificación es obligatorio
        </span>
        <span
          class="invalid-text"
          *ngIf="f.resumen.touched && textSize > textSizeMax"
        >
          El contenido de la bonificación es mayor al permitido
        </span>
        <div class="flex-spacer"></div>
        <span class="text-right mt-1 fs-12"> {{ textSize }} / {{ textSizeMax }}</span>
      </div>
    </div>

    <div class="text-right w-100 mt-3">
      <button
        nbButton
        shape="round"
        status="primary"
        class="px-4"
        size="small"
        (click)="addNivel()"
      >
        <nb-icon class="fs-16 mr-2" icon="mas_rounded"></nb-icon>
        Detalle
      </button>
    </div>

    <div class="w-100 pl-3">
      <table
        class="table mat-elevation-z4 mt-2"
        aria-describedby="Tabla por bonificacion"
      >
        <thead class="header_table">
          <tr class="fs-14">
            <th scope="col" style="width: 10%;" class="text-center">NIVEL</th>
            <th scope="col" style="width: 35%;">DESCRIPCIÓN</th>
            <th scope="col" style="width: 25%;">APLICA SOBRE</th>
            <th scope="col" style="width: 15%;">% DE BON.</th>
            <th scope="col" style="width: 15%;" class="text-center">ACCIÓN</th>
          </tr>
        </thead>
        <tbody>
          <tr class="fs-14" *ngFor="let item of f.niveles.value; let i = index">
            <td class="w20 text-center">{{ item?.niveles?.descripcion }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.aplicaSobre?.descripcion || 'NO APLICA' }}</td>
            <td>{{ item.porcentaje }}%</td>
            <td class="text-center">
              <button
                class="btn_edit"
                matRipple
                (click)="this.editDetalle(item, i)"
              >
                <em class="ent-web-edit fs-20"></em>
              </button>
              <button
                class="btn_delete"
                matRipple
                (click)="this.deleteDetailBonificacion(i)"
              >
                <em class="ent-web-eliminar fs-20"></em>
              </button>
            </td>
          </tr>
          <tr class="fs-14" *ngIf="f.niveles.value.length === 0">
            <td colspan="6">
              <span> Aún no se ha ingresado información </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<serv-talento-bottom-div
  [bodySize]="bodySize"
  (saveEmitter)="saveNivel()"
  [disabledSave]="f.niveles.value.length === 0"
></serv-talento-bottom-div>
