<div class="mt-2">
  <div
    [hidden]="
      organosFinded.length !== 0 || this.organosFindedByPuesto.length !== 0
    "
    *ngIf="this.altasDirecciones.length > 0"
  >
    <button
      #btnCompleto
      [ngClass]="showFull ? 'activeButtonFullOrg' : 'inactiveButtonFullOrg'"
      mat-stroked-button
      class="mb-3"
      (click)="showFullOrganigrama()"
    >
      Organigrama Completo
    </button>

    <div class="navbar__vista d-flex w-100">
      <div class="menu__buttons flex-v-center-left" style="flex-wrap: wrap">
        Mostrar por unidad orgánica
        <select (change)="selectKindCharts($event)" class="form-control" >
          <option hidden>Seleccionar</option>
          <option *ngFor="let item of altasDirecciones; let i = index" value="{{i}}" >
            {{ item[0].descripcion || item[0].unidadOrganica }}
          </option>
        </select>
      </div>
       <span class="flex-spacer"></span>
    </div>
  </div>

  <mat-progress-bar
    *ngIf="loadingGraph"
    class="mt-3"
    mode="indeterminate"
  ></mat-progress-bar>

  <div
    style="position: relative"
    [hidden]="loadingGraph"
    *ngIf="this.altasDirecciones.length > 0"
  >
    <div *ngIf="this.organosFindedByPuesto.length > 0">
      <h6>Resultados encontrados</h6>

      <mat-divider class="mb-1"></mat-divider>

      <div
        id="puestos__org"
        class="puestos__org"
        *ngIf="this.organosFindedByPuesto.length > 0"
      >
        <div
          class="body__graph__chart mb-3 mat-elevation-z1"
          *ngFor="let item of this.organosFindedByPuesto"
        >
          <div
            [ngClass]="
              item.tipo === 0
                ? 'blue0__top'
                : item.tipo === 1
                ? 'blue1__top'
                : 'blue2__top'
            "
          ></div>

          <div class="card__header__org__chart">
            <div class="flex-v-center w-100">
              <div class="title__card_org">
                {{ item.descripcion || item.unidadOrganica }}
              </div>
              <span class="flex-spacer"></span>
              <button
                id="${d.organigramaId}"
                class="button__org_chart"
                data-html2canvas-ignore="true"
              >
                <em id="${d.organigramaId}" class="serv-tal-edit"></em>
              </button>
            </div>
            <div class="subtitle__card_org">
              {{ item.desNivel }}
            </div>
          </div>

          <hr />

          <div class="card__body__org__chart">
            <div class="card__body__puesto">{{ item.puesto }}</div>
            <div style="position: relative">
              <div class="item__card">
                <em class="material-icons"> account_circle </em>
                <span>{{ this.setNombreCompleto(item) }}</span>
              </div>

              <div class="item__card">
                <em class="material-icons"> mail_outline </em>
                <span>{{ item?.correo?.toLowerCase() || '-' }}</span>
              </div>

              <div class="item__card">
                <em class="material-icons"> call </em>
                <span>{{ item.telefono }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-divider class="mt-1"></mat-divider>

      <div class="d-flex mt-1">
        <span class="flex-spacer"></span>
        <span>
          Se encontraron
          <strong
            >{{ this.organosFindedByPuesto.length }} coincidencias.</strong
          >
        </span>
      </div>
    </div>

    <div
      [hidden]="this.organosFindedByPuesto.length > 0"
      id="padreGraph"
      class="padreGraph mt-3 w-100"
    >
      <ngx-spinner
        name="spinnerGraph"
        bdColor="rgba(255,255,255,0.75)"
        size="medium"
        color="#0D88BC"
        type="square-jelly-box"
        [fullScreen]="false"
      >
        <p style="color: #666">Descargando...</p>
      </ngx-spinner>

      <div style="position: absolute; top: 10; left: 10; z-index: 9999">
        <button mat-icon-button (click)="centrarMapa()">
          <span class="material-icons"> zoom_out_map </span>
        </button>
      </div>
      <div class="chart_div" id="chart_div"></div>
    </div>


    <div class="row mt-3">
      <div class="col-8">
        <div class="row">
          <div class="col-lg-4 col-md-6 leyenda_item"
            *ngFor="let para of parametros">
            <div class="icon" [style.background]="getColor(para.parametroId)"></div>
            <span>{{para.descripcion}}</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="loadingGraph" *ngIf="this.altasDirecciones.length === 0">
    <em> No hay registros </em>
  </div>
</div>
