<div class="bg-white p-0">
  <div class="row m-0 p-0 justify-content-center">
    <div class="col-11 m-0 row p-0 pt-3 pb-4">
      <div class="col m-0 p-0 row">
        <button
          mat-icon-button
          color="primary"
          (click)="router.navigateByUrl('pages/seguimientoconvocatoria')"
        >
          <nb-icon nbSuffix icon="back"></nb-icon>
        </button>
        <div class="col text-primary fs-26 p-0 align-self-center row m-0">
          Seguimiento | Evaluación
          <div class="pl-4">
            <nb-icon
              icon="info"
              status="primary"
              nbPopover="Hint Mode"
              [nbPopoverTrigger]="popHint"
              [nbPopoverPlacement]="pospopRigth"
              [nbPopover]="iconPopInfo"
            ></nb-icon>
          </div>
        </div>

        <ng-template #iconPopInfo>
          <div class="row m-0 px-3 py-2 boxPopInfo">
            <img
              class="toolimg mr-2"
              src="assets/images/icons/info-tooltip.svg"
              alt="info-tooltip"
            />
            <div class="col m-0 p-0 row">
              <div class="col-12 row p-0 m-0 progress-bar-tooltip">
                <div
                  class="p-0 m-0 progress-tootlip"
                  [class.progress-tootlip-total]="progressPorcent >= 100"
                  [style.width]="
                    (progressPorcent <= 100 ? progressPorcent : 100) + '%'
                  "
                ></div>
                <div
                  class="p-0 m-0 res-tooltip"
                  [class.col]="progressPorcent <= 100"
                  *ngIf="progressPorcent <= 100"
                ></div>
              </div>
              <div class="row col-12 m-0 p-0">
                <div class="col pl-0 fs-11 text-left">
                  Inicio {{ datosEtapa.fechaInicio }}
                </div>
                <div class="col pr-0 fs-11 text-right">
                  Fin {{ datosEtapa.fechaFin }}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div>
        <div>
        Convocatoria:
        <span class="text-primary font-weight-bold fs-18">{{
          convocatoria
        }}</span>
        </div>
        <div>
          Evaluación:
          <span class="text-primary font-weight-bold fs-18">{{
            datosEtapa.desEvaluacion
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row m-0 p-0 justify-content-center">
    <div class="col-11 row p-0 m-0">
      <form [formGroup]="filterForm" class="p-0 m-0 mt-3 col-12">
        <div class="col subtitle">Filtros de Busqueda</div>

         <div class="row m-0 mt-3 align-items-end p-0">
          <div class="col-2">
            <select-field
              [label]="'Perfil de puesto'"
              [control]="f.perfil"
              [items]="perfiles"
              [value]="'id'"
              [valueToShow]="'descripcion'"
              (selectedChange)="onChangePerfil($event)"
            >
            </select-field>
          </div>

          <div class="col-1">
            <select-field
              [label]="'Grupo'"
              [control]="f.grupo"
              [items]="grupo"
              [value]="'id'"
              [valueToShow]="'Grupo'"
            >
            </select-field>
          </div>
          <div class="col-1 pt-2" *ngIf="showCompleateFilter">
            <label>Rango de notas</label>
            <select-field
              [label]="''"
              [control]="f.rangoDesde"
              [items]="rangoPuntajes"
              [value]="'id'"
              [valueToShow]="'descripcion'"
            >
            </select-field>

          </div>

          <div class="col-1 pt-2" *ngIf="showCompleateFilter">
            <select-field
              [label]="''"
              [control]="f.rangoHasta"
              [items]="rangoPuntajes"
              [value]="'id'"
              [valueToShow]="'descripcion'"
            >
            </select-field>
          </div>

          <div class="col-2 pt-2" *ngIf="showCompleateFilter">
            <label>Fecha/Período de postulación</label>
            <nb-form-field>
              <input
                formControlName="periodo"
                nbInput
                name="periodo"
                placeholder="Buscar fecha"
                [nbDatepicker]="formpicker"
                fieldSize="large"
                shape="semi-round"
              />

              <nb-icon nbSuffix class="mr-2" icon="calendario"> </nb-icon>
              <nb-rangepicker #formpicker></nb-rangepicker>
            </nb-form-field>
          </div>
          <div class="col-2 pt-2" *ngIf="showCompleateFilter">
            <select-field
              [label]="'Estado'"
              [control]="f.estado"
              [items]="estados"
              [value]="'id'"
              [valueToShow]="'descripcion'"
            >
            </select-field>
          </div>

          <div class="col-3 row m-0 mt-3 align-content-end">
            <div class="col-3 pl-0">
              <button
                nbButton
                fullWidth
                outline
                shape="round"
                status="primary"
                (click)="limpiar()"
              >
                Limpiar
              </button>
            </div>
            <div class="col-3 pl-0">
              <button
                nbButton
                fullWidth
                shape="round"
                status="primary"
                (click)="buscar()"
              >
                Buscar
              </button>
            </div>
          </div>
        </div>

        <div class="row m-0 mt-3 align-items-end p-0 "  *ngIf="showCompleateFilter">
          <div class="col-2 pl-3">
            <button
              nbButton
              fullWidth
              shape="round"
              status="primary"
              (click)="irEvaluaciones()"
            >
              Ir a evaluaciones
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="w-100 row m-0 mt-3 justify-content-center">
    <div class="flex-v-center flex-column mt-5" *ngIf="!showCompleateFilter">
      <img
        width="70px"
        alt="imagen bandeja"
        src="assets/images/icons/bandeja.png"
        class="my-3"
      />
      <span class="text-primary fs-18 font-weight-bold">Evaluaciones</span>
      <span class="fs-13 mt-2"
        >Aqui podrás visualizar a todas las evaluaciones ordenadas por Perfil y grupos.</span
      >
      <span class="fs-13 mt-2"
        >Tambien podrás realizar la validación de REDERECI</span
      >
      <span class="fs-13 mt-2">Aún no has buscado ningún perfil.</span>
    </div>

    <serv-talento-table-evaluacion
      *ngIf="showCompleateFilter"
      class="col-11 mt-5"
      [tableColumns]="this.columns"
      [title]="'Listado de convocatorias'"
      [tableData]="this.data"
      [tamanio]="this.total"
      [pageIndex]="this.page"
      (pageEvent)="getPaginado($event)"
      (sort)="sortData($event)"
      [dataExport]="getDataExport()"
    >
    </serv-talento-table-evaluacion>
  </div>
</div>
