// Branding GDR WEB

$light-gray: #e2e2e2;
//$medium-gray: #0dacbc;
$label-light-blue: #0dacbc;
$background-light-blue: #ddf3f6;
$dark-gray: #3c3c3c;
$dark-blue: #146080;
$primary-color: #0d88bc;
$light-blue: #a7dbf1;
$red: #eb5757;
$background-warning: #fff3f3;
$background-white: #ffffff;
$primary-color-hover: #40b4d6;
