@import '_colors';

$label-item: #8191a4;
// $label-item: rgba(34, 36, 38, 0.336);

* {
  user-select: none;
}

.parent {
  background-color: $background-white;
  flex-direction: column;
  min-height: calc(100vh - 4.75rem);
}

a {
  text-decoration: none;
  &:focus {
    color: $label-light-blue !important;
  }
}

.item {
  color: $label-item;
  background-color: white;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    background-color: $background-light-blue;
    border-radius: 0.75rem;
    color: $label-light-blue !important;
  }
}

.itemPadre {
  color: $label-item;
  font-weight: normal;
  cursor: pointer;
  &:hover {
    background-color: $background-light-blue;
    border-radius: 0.75rem;
    color: $label-light-blue !important;
  }
}

.itemBackImplement {
  background-color: #249EAF;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  font-weight: normal;
  font-size: 0.938rem;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: #186A76 !important;
    color: white !important;
  }
}
.active {
  color: $label-light-blue !important;
  background-color: $background-light-blue;
  border-radius: 0.75rem;
}

.text-menu-hijo {
  font-size: 0.938rem;
  font-weight: 600;
}

.submenu {
  max-height: 0;
  overflow: hidden;
}

.submenu-on {
  max-height: 2000px;
  color: rgb(13,172,188);
}

.icon-arrow {
  font-size: 0.75rem;
}

.icon__item {
  transition: all 0.2s ease-in-out;
}

.rotate {
  transition: all 0.2s ease-in-out;
  transform: rotate(-180deg);
}

.menuSelected {
  background-color: #DDF3F6;
  border-radius: 0.25rem;
  font-weight: 600;
  font-size: 0.938rem;
}

.fijar {
  color: rgba(34, 36, 38, 0.336);
  font-weight: 600;
  font-size: 0.938rem;
}

.sidenav_container {
  min-width: 60px;
  height: calc(100vh - 200px);
}
