<div class="d-flex w-100">
  <span class="flex-spacer"></span>
  <nb-icon
    class="mr-2 btnClose"
    nbSuffix
    icon="close"
    (click)="onNoClick()"
  ></nb-icon>
</div>

<div class="py-2 px-2 bodyModal">
  <div class="flex-v-center">
    <img src="assets/images/icons/revisado.png" alt="Logo pregunta Revisión" />
  </div>

  <div class="title fw-600 flex-v-center my-3">Revisión de Bases</div>

  <div class="flex-v-center mt-4">
    Usted tiene <strong class="mx-1">{{ cantidad }} bases </strong> listas para revisión
  </div>

  <div class="text-center pt-3">
    <button
      nbButton
      outline
      shape="round"
      status="primary"
      class="py-2 px-4 mr-3"
      (click)="onNoClick()"
    >
      Aceptar
    </button>
  </div>
</div>
