<div class="d-flex w-100">
  <span class="flex-spacer"></span>
  <nb-icon
    class="mr-2 btnClose"
    nbSuffix
    icon="close"
    (click)="onNoClick()"
  ></nb-icon>
</div>
<div class="mb-12 col-md-12 divHeaderMargin">
  <div class="flex-v-center flex-column">
    <img
      src="assets/images/icons/check.png"
      style="height: 50px; width: 55px;"
      alt="Logo"
    />
    <h5 class="mt-3">¡Listo!</h5>
    <p>Ha empezado la descarga del</p>
    <p style="margin-top: -10px;">Documento en formato DOCX.</p>
  </div>
</div>
<div class="text-center pt-3" style="margin-top: -50px;">
  <button
    nbButton
    shape="round"
    status="primary"
    style="width: 200px;"
    class="py-2 px-4 mr-3"
    (click)="descargarContratoW()"
  >
    Aceptar
  </button>
</div>
