<div class="d-flex w-100">
  <span class="flex-spacer"></span>
  <nb-icon
    class="mr-2 btnClose"
    nbSuffix
    icon="close"
    (click)="onNoClick()"
  ></nb-icon>
</div>

<div class="py-2 px-2 bodyModal">
  <div class="flex-v-center">
    <img [src]="data?.rutaImagen || rutaImagen" alt="Logo pregunta eliminar" />
  </div>

  <div class="title fw-600 flex-v-center mt-4">
    {{ data?.title || 'Eliminar' }}
  </div>

  <div class="fw-400 flex-v-center my-3" style="text-align: center;">
    {{ data?.bodyText || '¿Está seguro que desea continuar?' }}
  </div>

  <div class="flex-v-center mt-4">
    <button
      nbButton
      outline
      shape="round"
      status="primary"
      class="py-2 px-5 mr-3"
      (click)="onNoClick()"
    >
      {{ data.textCancel || 'Cancelar' }}
    </button>
    <button
      nbButton
      shape="round"
      status="primary"
      class="py-2 px-5"
      (click)="onNoClick(true)"
    >
      {{ data.textOk || 'Aceptar' }}
    </button>
  </div>
</div>
