// Branding Talento Perú

$light-gray: #e2e2e2;
$medium-gray: #9a9a9a;
$dark-gray: #3c3c3c;
$dark-blue: #146080;
$primary-color: #0d88bc;
$light-blue: #a7dbf1;
$red: #eb5757;
$background-warning: #fff3f3;
