@import '_colors';

.bodyModal {
  width: 30rem;
}

.title {
  color: $primary-color;
  font-size: 1.25rem;
}

.modal-header {
  padding: 0;
  display: block;
}


.header-modal {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.divider-modal {
  margin: 1rem -24px;
}

label {
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #000000 !important;
}

.btnCloseM {
  cursor: pointer;
  transition: 0.2s;
  color: rgb(0, 0, 0);

  &:hover {
    color: black;
    transform: scale(1.2);
  }
}

.botones {
  border-radius: 42px !important;
}
