<div class="flex-v-center h-100 m-0 p-0">
  <div class="d-flex w-100 m-0 p-0" style="justify-content: space-around;">
    <div>
      <div>Para asesoría técnica en el uso del sistema informático</div>
      <div>Servir - GDR Perú</div>
    </div>

    <div>
      <div>escríbenos a</div>
      <div class="flex-v-center fs-14 color-primary">
        <span class="material-icons fs-20 mr-2"> mail_outline </span>
        gdr@servir.com.pe
      </div>
    </div>

    <div>
      <div>Llama al</div>
      <div class="flex-v-center fs-14 color-primary">
        <span class="material-icons fs-20 mr-2"> local_phone </span>
        (051) 2063370, anexo 2614
      </div>
    </div>

    <div>
      <div>Síguenos en</div>
      <div class="box_icons">
        <a href="">
          <fa-icon class="icon fb" [icon]="faFacebook"></fa-icon>
        </a>
        <a href="">
          <fa-icon class="icon tw" [icon]="faTwitter"></fa-icon>
        </a>
        <a href="">
          <fa-icon class="icon yt" [icon]="faYoutube"></fa-icon>
        </a>
        <a href="">
          <fa-icon class="icon li" [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
