@import '_colors';

.parent-card {
  border-radius: 1.25rem;
  padding: 1rem 1.5rem;
  & > .parent-body {
    @media screen and (min-width: 600px) {
      width: 520px;
    }
  }
}

.logo {
  text-align: center;
}

.titleDiv {
  & > img {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  & > :nth-child(2) {
    font-size: 1.25rem;
    color: $primary-color;
    font-weight: 600;
  }
  & > span {
    font-size: 0.875rem;
  }
}

.label {
  font-size: 0.75rem !important;
  color: #3b3a3c !important;
  font-weight: 400 !important;
}

.endSection {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  & > button {
    margin: 0.5rem 0.625rem;
    text-align: center !important;
    @media screen and (max-width: 600px) {
      padding: 0.75rem 2.5rem !important;
    }
    @media screen and (min-width: 600px) {
      padding: 0.75rem 5rem !important;
    }
    border-radius: 2.375rem;
    border: 0;
    font-weight: 600;
    &:first-child {
      background-color: white;
      color: #0dacbc;
      border: 1px solid #0dacbc;
    }
    &:nth-child(2) {
      background-color: #0dacbc;
      color: white;
    }
  }
}

label {
  color: $dark-gray;
  font-size: 0.85rem;
  margin-top: 1.5rem;
}

.invalid-text {
  font-size: 0.75rem;
  color: #fe6168;
}
