.custom-tab-group {
  padding: 0 !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.titlePage {
  padding-left: 2rem !important;
  padding-top: 2rem !important;
}
