<form [formGroup]="frm">
  <nb-card class="col-md-12 m-0 p-0" style="width: auto; border: #282929;">
    <nb-card-header class='m-0 p-0'>
      <div class="col-md-12 row h-100 p-0 m-0 mb-3">
        <h5>Notificar</h5>
        <span class="flex-spacer"></span>
        <nb-actions size="small" style="place-content: flex-end;" class="col-md-12 position-absolute">
          <nb-action class="control-item p-0 justify-content-end" icon="close" (click)="dismiss(false)"></nb-action>
        </nb-actions>
      </div>
    </nb-card-header>
    <nb-card-body class='mt-6 mb-0 p-0'>
      <div class="w-100 h-100 px-5 py-3 flex-v-center flex-column">
        <img src="../../../../../assets/images/mail.png" alt="envio imagen" />
        <div class="flex-v-center">
          <p>Se notificará al usuario por correo electrónico
            ¿Está realmente seguro de realizar la siguiente acción? </p>
        </div>
        <div class="col-md-6 mt-4 mb-0 flex-v-center">
          <div class="col-6">
            <button nbButton shape="round" size="medium" status="info" fullWidth outline (click)='enviarCorreo()'>
              Aceptar
            </button>
          </div>
          <div class="col-6">
            <button nbButton shape="round" size="medium" status='info' fullWidth (click)='cerrar(false)'>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>
