<div class="d-flex w-100">
  <span class="flex-spacer"></span>
  <nb-icon
    class="mr-2 btnClose"
    nbSuffix
    icon="close"
    (click)="onNoClick()"
  ></nb-icon>
</div>

<div class="flex-v-center flex-column">
  <img
    height="64px"
    src="assets/images/icons/formulario.png"
    alt="icon image"
  />
  <h6 class="text-center mt-4">Registro de horarios</h6>
  <button (click)="this.initializeForm()" #clearButton [hidden]="true">
    Clear
  </button>
</div>

<div class="px-4">
  <form
    [formGroup]="registerForm"
    class="row mt-3"
    *ngIf="!this.helperService.disableAllFields"
  >
    <div class="col-4 mb-3" *ngIf="!this.editMode">
      <select-field
        [label]="'Frecuencia'"
        [control]="f.frecuencia"
        [items]="helperService.frecuencias"
        [valueToShow]="'descripcion'"
        [hideDefaultOption]="true"
        [multiple]="true"
      >
      </select-field>
    </div>

    <div class="col-4 mb-3" *ngIf="this.editMode">
      <select-field
        [label]="'Frecuencia'"
        [control]="f.frecuencia"
        [items]="helperService.frecuencias"
        [valueToShow]="'descripcion'"
        [hideDefaultOption]="true"
      >
      </select-field>
    </div>

    <div class="col-3 mb-3">
      <div class="d-flex flex-column w-100 h-100">
        <label>Hora de inicio</label>
        <div class="flex-v-center">
          <nb-form-field>
            <nb-select
              [size]="'large'"
              shape="semi-round"
              [formControl]="f.horaInicio"
              [status]="
                f.horaInicio.invalid && f.horaInicio.touched
                  ? 'danger'
                  : 'basic'
              "
            >
              <nb-option [value]="item" *ngFor="let item of horas">
                {{ item }}
              </nb-option>
            </nb-select>
          </nb-form-field>
          <div class="fw-600 fs-24 px-1">:</div>
          <nb-form-field>
            <nb-select
              [size]="'large'"
              shape="semi-round"
              [formControl]="f.minutosInicio"
              [status]="
                f.minutosInicio.invalid && f.minutosInicio.touched
                  ? 'danger'
                  : 'basic'
              "
            >
              <nb-option [value]="item" *ngFor="let item of minutos">
                {{ item }}
              </nb-option>
            </nb-select>
          </nb-form-field>
        </div>
      </div>
    </div>

    <div class="col-3 mb-3">
      <div class="d-flex flex-column w-100 h-100">
        <label>Hora fin</label>
        <div class="flex-v-center">
          <nb-form-field>
            <nb-select
              [size]="'large'"
              shape="semi-round"
              [formControl]="f.horaFin"
              [status]="
                f.horaFin.invalid && f.horaFin.touched ? 'danger' : 'basic'
              "
            >
              <nb-option [value]="item" *ngFor="let item of horas">
                {{ item }}
              </nb-option>
            </nb-select>
          </nb-form-field>
          <div class="fw-600 fs-24 px-1">:</div>
          <nb-form-field>
            <nb-select
              [size]="'large'"
              shape="semi-round"
              [formControl]="f.minutosFin"
              [status]="
                f.minutosFin.invalid && f.minutosFin.touched
                  ? 'danger'
                  : 'basic'
              "
            >
              <nb-option [value]="item" *ngFor="let item of minutos">
                {{ item }}
              </nb-option>
            </nb-select>
          </nb-form-field>
        </div>
      </div>
    </div>

    <div class="col-2 mb-3">
      <div class="w-100 pt-2 align-items-end d-flex">
        <button
          type="button"
          nbButton
          shape="semi-round"
          size="small"
          status="primary"
          (click)="add()"
          class="w-100 mt-4 fs-14"
          [disabled]="this.registerForm.invalid"
        >
          <em class="material-icons mr-2"> add_circle_outline </em>
          {{ editMode ? 'Guardar' : 'Añadir' }}
        </button>
      </div>
    </div>
  </form>
</div>

<div class="px-4 pb-3">
  <serv-talento-table
    [title]="'Lista de horarios'"
    [tableData]="this.horarios"
    [tableColumns]="horariosColumn"
    [isFilterable]="false"
    [isPageable]="true"
    [paginationSizes]="[5]"
    [defaultPageSize]="5"
    (sort)="sortData($event)"
    [acciones]="!this.helperService.disableAllFields"
    [btnEditEnabled]="true"
    (editAction)="editAction($event)"
    [fontSize]="'fs-14'"
    [btnDeleteEnabled]="true"
    (deleteAction)="removeAction($event)"
    [deleteTitle]="'Inactivar perfil'"
    [showDownloadButton]="false"
  >
  </serv-talento-table>
</div>

<div class="col-12 d-flex px-4">
  <div class="flex-spacer"></div>
  <button
    type="button"
    nbButton
    shape="round"
    size="medium"
    status="primary"
    class="px-5 fs-15"
    (click)="guardarHorarios()"
    [disabled]="
      this.horarios.length === 0 || this.helperService.estadoBase === '2'
    "
  >
    Aceptar
  </button>
</div>
