<nb-card class="parent-card">
  <nb-card-body class="parent-body">
    <div class="titleDiv flex-v-center-column text-center">
      <img src="./assets/images/icons/lock-password.png" alt="" />
      <div class="py-2 titleGDR">Olvidé mi contraseña</div>
      <span>Para ayudarte de manera segura necesitamos que</span>
      <span>ingreses tu N° de documento de identidad con el que te registraste</span>
    </div>

    <div class="form-control-group py-2 pt-4">
      <label for="dni">N° de documento de identidad</label>
      <nb-form-field class="w-100">
        <nb-icon nbPrefix icon="usuario"></nb-icon>
        <input
          id="dni"
          [formControl]="numeroDocumento"
          type="text"
          nbInput
          fullWidth
          placeholder="12345678"
          shape="semi-round"
          fieldSize="large"
          (keyup.enter)="sendData()"
          maxlength="12"
          minlength="8"
          #document
          [value]="this.document.value.toUpperCase()"

          oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')"
        />
      </nb-form-field>
      <div
        *ngIf="numeroDocumento.invalid && numeroDocumento.touched"
        class="invalid-text flex-column"
      >
        <div *ngIf="numeroDocumento.errors.required">
          El campo es obligatorio
        </div>
        <div *ngIf="numeroDocumento.errors.pattern">
          DNI solo aceptan números
        </div>
        <div *ngIf="numeroDocumento.errors.minlength">
          El texto introducido es muy corto
        </div>
        <div *ngIf="numeroDocumento.errors.maxlength">
          El texto introducido es muy largo
        </div>
      </div>
    </div>

    <div class="endSection pt-4">
      <button [routerLink]="'/auth/login'">Volver</button>
      <button nbButton (click)="sendData()"
              [disabled]="this.numeroDocumento.invalid"
      >Enviar</button>
    </div>
  </nb-card-body>
</nb-card>
