<div class="d-flex w-100 header-modal">
  Registrar Servidor Civil
  <span class="flex-spacer"></span>
  <nb-icon
    class="mr-2 btnClose"
    nbSuffix
    icon="close"
    (click)="cerrar()"
  ></nb-icon>
</div>
<mat-divider class="divider-modal"></mat-divider>
<div>
  <form [formGroup]="registerForm">
    <div class="row">
      <label class="col-12">Ingrese los siguientes datos</label>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <label>Apellido Paterno</label>
        <input
          trim="blur"
          placeholder="Ingresar"
          nbInput
          shape="semi-round"
          fullWidth
          [status]="
            f.apellidoPaterno.invalid && f.apellidoPaterno.touched
              ? 'danger'
              : 'basic'
          "
          formControlName="apellidoPaterno"
          class="text-uppercase"
        />

        <div
          *ngIf="f.apellidoPaterno.invalid && f.apellidoPaterno.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.apellidoPaterno.errors.required">
            El campo es obligatorio
          </span>
          <!-- <span *ngIf="f.apellidoPaterno.errors.maxlength">
                        El texto introducido es muy largo
                    </span> -->
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <label>Apellido Materno</label>
        <input
          trim="blur"
          placeholder="Ingresar"
          nbInput
          shape="semi-round"
          fullWidth
          [status]="
            f.apellidoMaterno.invalid && f.apellidoMaterno.touched
              ? 'danger'
              : 'basic'
          "
          formControlName="apellidoMaterno"
          class="text-uppercase"
        />

        <div
          *ngIf="f.apellidoMaterno.invalid && f.apellidoMaterno.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.apellidoMaterno.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <label>Nombres</label>
        <input
          trim="blur"
          placeholder="Ingresar"
          nbInput
          shape="semi-round"
          fullWidth
          [status]="f.nombres.invalid && f.nombres.touched ? 'danger' : 'basic'"
          formControlName="nombres"
          class="text-uppercase"
        />

        <div
          *ngIf="f.nombres.invalid && f.nombres.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.nombres.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-3 col-sm-6">
        <label>Género</label>
        <nb-select
          formControlName="sexo"
          placeholder="Seleccione"
          fullWidth="true"
          [size]="'large'"
          shape="semi-round"
          [status]="f.sexo.invalid && f.sexo.touched ? 'danger' : 'basic'"
        >
          <nb-option value="">Seleccione</nb-option>
          <nb-option *ngFor="let g of generos" [value]="g.codigoNumero">{{
            g.valorTexto
          }}</nb-option>
        </nb-select>

        <div
          *ngIf="f.sexo.invalid && f.sexo.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.sexo.errors.required"> El campo es obligatorio </span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <label>Fecha de Nacimiento</label>

        <nb-form-field>
          <input
            id="fechaNacimiento"
            #fechaNacimiento
            formControlName="fechaNacimiento"
            nbInput
            placeholder="dd/mm/aaaa"
            [nbDatepicker]="formpickerNacimiento"
            fieldSize="large"
            shape="semi-round"
            [status]="
              f.fechaNacimiento.invalid && f.fechaNacimiento.touched
                ? 'danger'
                : 'basic'
            "
          />

          <nb-icon
            style="cursor: pointer"
            nbSuffix
            class="mr-2"
            icon="calendar-outline"
            (click)="fechaNacimiento.click()"
          >
            <span class="material-icons gray00">face</span>
          </nb-icon>
          <nb-datepicker #formpickerNacimiento></nb-datepicker>
        </nb-form-field>

        <div
          *ngIf="f.fechaNacimiento.invalid && f.fechaNacimiento.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.fechaNacimiento.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <label>Correo electrónico institucional</label>
        <input
          trim="blur"
          placeholder="Ingresar"
          nbInput
          shape="semi-round"
          fullWidth
          [status]="
            f.correoInstitucional.invalid && f.correoInstitucional.touched
              ? 'danger'
              : 'basic'
          "
          formControlName="correoInstitucional"
        />

        <div
          *ngIf="f.correoInstitucional.invalid && f.correoInstitucional.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.correoInstitucional.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-3 col-sm-6">
        <label>Tipo Doc. Identidad</label>
        <nb-select
          formControlName="tipoDocumento"
          placeholder="Seleccione"
          fullWidth="true"
          [size]="'large'"
          shape="semi-round"
          [status]="
            f.tipoDocumento.invalid && f.tipoDocumento.touched
              ? 'danger'
              : 'basic'
          "
        >
          <nb-option value="">Seleccione</nb-option>
          <nb-option
            *ngFor="let td of tiposDocumento"
            [value]="td.codigoNumero"
            >{{ td.valorTexto }}</nb-option
          >
        </nb-select>

        <div
          *ngIf="f.tipoDocumento.invalid && f.tipoDocumento.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.tipoDocumento.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <label>N° Doc. Identidad</label>
        <input
          trim="blur"
          placeholder="Ingresar"
          nbInput
          shape="semi-round"
          fullWidth
          [status]="
            f.numeroDocumento.invalid && f.numeroDocumento.touched
              ? 'danger'
              : 'basic'
          "
          formControlName="numeroDocumento"
        />

        <div
          *ngIf="f.numeroDocumento.invalid && f.numeroDocumento.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.numeroDocumento.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <label>Sindicato</label>
        <nb-select
          formControlName="sindicato"
          placeholder="Seleccione"
          fullWidth="true"
          [size]="'large'"
          shape="semi-round"
          [status]="
            f.sindicato.invalid && f.sindicato.touched ? 'danger' : 'basic'
          "
        >
          <nb-option value="">Seleccione</nb-option>
          <nb-option *ngFor="let s of sindicatos" [value]="s.codigoNumero">{{
            s.valorTexto
          }}</nb-option>
        </nb-select>

        <div
          *ngIf="f.sindicato.invalid && f.sindicato.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.sindicato.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-3 col-sm-6">
        <label>Órgano / UO / Sub UO</label>
        <nb-select
          formControlName="organoId"
          placeholder="Seleccione"
          fullWidth="true"
          [size]="'large'"
          shape="semi-round"
          [status]="
            f.organoId.invalid && f.organoId.touched ? 'danger' : 'basic'
          "
          (selectedChange)="onSelectionChangeUO($event)"
        >
          <nb-option value="">Seleccione</nb-option>
          <nb-option *ngFor="let uo of unidadesOrganicas" [value]="uo.id">{{
            uo.descripcion
          }}</nb-option>
        </nb-select>

        <div
          *ngIf="f.organoId.invalid && f.organoId.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.organoId.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
      <div class="col-md-3">
        <label>Tipo de Asignación</label>
        <nb-select
          formControlName="tipoAsignacion"
          placeholder="Seleccione"
          fullWidth="true"
          [size]="'large'"
          shape="semi-round"
          [status]="
            f.tipoAsignacion.invalid && f.tipoAsignacion.touched
              ? 'danger'
              : 'basic'
          "
          (selectedChange)="onSelectionChangeTipoAsignacion($event)"
        >
          <nb-option value="">Seleccione</nb-option>
          <nb-option
            *ngFor="let ta of tiposAsignacion"
            [value]="ta.codigoNumero"
            >{{ ta.valorTexto }}</nb-option
          >
        </nb-select>

        <div
          *ngIf="f.tipoAsignacion.invalid && f.tipoAsignacion.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.tipoAsignacion.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
      <div
        class="col-md-3"
        *ngIf="f.tipoAsignacion.value == TIPO_ASIGNACION_ENCARGADO"
      >
        <label>Persona asignada</label>
        <nb-select
          formControlName="personaAsignada"
          placeholder="Seleccione"
          fullWidth="true"
          [size]="'large'"
          shape="semi-round"
          [status]="
            f.personaAsignada.invalid && f.personaAsignada.touched
              ? 'danger'
              : 'basic'
          "
        >
          <nb-option value="">Seleccione</nb-option>
          <nb-option *ngFor="let e of listaEncargados" [value]="e.detalleuoId">
            {{ e.apellidoPaterno }} {{ e.apellidoMaterno }} {{ e.nombres }}
          </nb-option>
        </nb-select>

        <div
          *ngIf="f.personaAsignada.invalid && f.personaAsignada.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.personaAsignada.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6">
        <label>Puesto</label>
        <input
          trim="blur"
          placeholder="Ingresar"
          nbInput
          shape="semi-round"
          fullWidth
          [status]="
            f.puestoDescripcion.invalid && f.puestoDescripcion.touched
              ? 'danger'
              : 'basic'
          "
          class="text-uppercase"
          formControlName="puestoDescripcion"
          [nbAutocomplete]="autoPuesto"
          (input)="onChangePuesto($event)"
        />
        <nb-autocomplete
          #autoPuesto
          (selectedChange)="onSelectionChangePuesto($event)"
        >
          <nb-option *ngFor="let p of listaPuestosFiltrados" [value]="p.id">
            {{ p.descripcion }}
          </nb-option>
        </nb-autocomplete>

        <div
          *ngIf="f.puestoDescripcion.invalid && f.puestoDescripcion.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.puestoDescripcion.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <label>Fecha de inicio</label>
        <nb-form-field>
          <input
            id="fechaInicio"
            #fechaInicio
            formControlName="fechaInicio"
            nbInput
            placeholder="dd/mm/aaaa"
            [nbDatepicker]="formpicker"
            fieldSize="large"
            shape="semi-round"
            [status]="
              f.fechaInicio.invalid && f.fechaInicio.touched
                ? 'danger'
                : 'basic'
            "
          />

          <nb-icon
            style="cursor: pointer"
            nbSuffix
            class="mr-2"
            icon="calendar-outline"
            (click)="fechaInicio.click()"
          >
            <span class="material-icons gray00">face</span>
          </nb-icon>
          <nb-datepicker #formpicker></nb-datepicker>
        </nb-form-field>

        <div
          *ngIf="f.fechaInicio.invalid && f.fechaInicio.touched"
          class="invalid-text flex-column"
        >
          <span *ngIf="f.fechaInicio.errors.required">
            El campo es obligatorio
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <button
          nbButton
          shape="round"
          size="medium"
          status="primary"
          class="pl-5 pr-5"
          (click)="registrar()"
        >
          Registrar
        </button>
      </div>
    </div>
  </form>
</div>
