<form [formGroup]="frm">
  <nb-card class="col-md-12" style="width: 400px; border: #2aa1c0">
    <nb-card-body style="width: auto">
      <div class="col-md-12 row h-100 p-0 m-0 justify-content-end">
        <nb-actions
          size="small"
          style="place-content: flex-end"
          class="position-absolute"
        >
          <nb-action
            class="control-item p-0 justify-content-end"
            icon="close"
            (click)="dismiss(false)"
          ></nb-action>
        </nb-actions>
      </div>
      <div class="row p-0 m-0 justify-content-center">
        <div class="row h-100 p-0 m-0 justify-content-center">
          <img
            *ngIf="isEdit == false"
            class="col-md-12 logo"
            src="assets/images/icons/formulario.png"
            alt="Formulario"
          />
          <img
            *ngIf="isEdit == true"
            class="col-md-12 logo"
            src="assets/images/icons/editar.png"
            alt="Formulario"
          />
        </div>
        <div
          class="mt-2 col-12 text-center font-weight-bold fs-18 text-primary"
          *ngIf="isEdit == false"
        >
          Crear conocimiento
        </div>
        <div
          class="mt-2 col-12 text-center font-weight-bold fs-18 text-primary"
          *ngIf="isEdit == true"
        >
          Edición de conocimiento
        </div>
      </div>
      <div class="content row mt-2 align-items-baseline">
        <div class="col-12 mt-2 mb-2">
          <label
            for="tipoConocimientoId"
            class="font-weight-bold fs-14 text-black-70"
            >Tipo de conocimiento</label
          >
          <nb-select
            placeholder="Elegir tipo de conocimiento"
            id="tipoConocimientoId"
            fullWidth="true"
            formControlName="tipoConocimientoId"
            shape="semi-round"
          >
            <nb-option
              *ngFor="let item of lstTipoConocimiento"
              [value]="item.maeDetalleId"
            >
              {{ item.descripcion }}
            </nb-option>
          </nb-select>
          <div
            *ngIf="f.tipoConocimientoId.invalid && f.tipoConocimientoId.touched"
            class="flex-column"
          >
            <span
              *ngIf="f.tipoConocimientoId.errors.required"
              class="invalid-text"
            >
              El Campo es requerido
            </span>
          </div>
        </div>

        <div class="col-12 mt-2 mb-2">
          <label
            for="categoriaConocimientoId"
            class="font-weight-bold fs-14 text-black-70"
            >Tipo de categoria</label
          >
          <nb-select
            placeholder="Elegir tipo de categoria"
            id="categoriaConocimientoId"
            fullWidth="true"
            formControlName="categoriaConocimientoId"
            shape="semi-round"
          >
            <nb-option
              *ngFor="let item of lstTipoCategoria"
              [value]="item.maeDetalleId"
            >
              {{ item.descripcion }}
            </nb-option>
          </nb-select>
          <div
            *ngIf="
              f.categoriaConocimientoId.invalid &&
              f.categoriaConocimientoId.touched
            "
            class="flex-column"
          >
            <span
              *ngIf="f.categoriaConocimientoId.errors.required"
              class="invalid-text"
            >
              El Campo es requerido
            </span>
          </div>
        </div>
        <div class="col-12 mt-2 mb-2">
          <div class="form-group">
            <label
              for="descripcion"
              class="font-weight-bold fs-14 text-black-70"
              >Ingrese nombre de conocimiento aquí</label
            >
            <textarea
              id="descripcion"
              nbinput
              fullWidth="true"
              shape="semi-round"
              fieldsize="large"
              rows="3"
              style="resize: none"
              maxlength="200"
              minlength="1"
              placeholder="Administración de empresas"
              class="input-full-width size-large status-basic shape-semi-round ng-pristine ng-valid nb-transition ng-touched"
              formControlName="descripcion"
            ></textarea>
            <div
              *ngIf="f.descripcion.invalid && f.descripcion.touched"
              class="flex-column"
            >
              <span *ngIf="f.descripcion.errors.required" class="invalid-text">
                El Campo es requerido
              </span>
            </div>
          </div>
        </div>

        <div class="col-6 flex-v-center">
          <button
            nbButton
            class="px-5"
            shape="round"
            size="medium"
            fullWidth
            status="primary"
            (click)="dismiss(false)"
          >
            Cancelar
          </button>
        </div>
        <div class="col-6 flex-v-center">
          <button
            *ngIf="isEdit == false"
            nbButton
            class="px-5"
            shape="round"
            size="medium"
            fullWidth
            status="primary"
            (click)="saveData()"
          >
            Guardar
          </button>
          <button
            *ngIf="isEdit == true"
            nbButton
            class="px-5"
            shape="round"
            size="medium"
            fullWidth
            status="primary"
            (click)="editData()"
          >
            Guardar
          </button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</form>
