<div (resized)="onResized($event)">
  <div class="parentBox">
    <div class="firstBox px-4" [ngStyle]="{ width: bodySize }">
      <div
        class="title pr-4 m-0"
        [ngClass]="{ selected: mode === 0 }"
        (click)="changeMode(0)"
      >
        {{ this.helperService.createMode ? 'Crear perfil' : 'Editar perfil' }}
      </div>
      <div class="flex-spacer"></div>
      <div class="flex-v-center">
        Régimen laboral:
        <strong class="fs-16 ml-3">
          {{
            this.helperService?.regimenSelected?.descripcion ||
              'Otros regímenes'
          }}
        </strong>
      </div>
    </div>
  </div>

  <div *ngIf="this.mode === 0">
    <div class="steps-box" [ngStyle]="{ width: this.bodySize }">
      <mat-horizontal-stepper
        class="stepper perfilesStepper"
        id="stepper-ley276"
        #stepper
        labelPosition="bottom"
        [selectedIndex]="helperService.indexStepper"
        (selectionChange)="change($event)"
      >
        <mat-step [completed]="this.helperService.idIdentificacion">
          <ng-template
            matStepLabel
            aria-label="Identificacion del perfil - Otras"
          >
            Identificación del perfil
          </ng-template>
        </mat-step>

        <mat-step [completed]="this.helperService.idFunciones">
          <ng-template
            matStepLabel
            aria-label="Funciones / Actividades - Otras"
          >
            Funciones / Actividades
          </ng-template>
        </mat-step>

        <mat-step [completed]="this.helperService.idFormacion">
          <ng-template matStepLabel aria-label="Formación académica - Otras">
            Formación académica
          </ng-template>
        </mat-step>

        <mat-step [completed]="this.helperService.idExperiencia">
          <ng-template matStepLabel aria-label="Experiencia - Otras">
            Experiencia
          </ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

    <div class="contentToRender">
      <serv-talento-identificacion
        [hidden]="helperService.indexStepper !== 0"
      ></serv-talento-identificacion>

      <serv-talento-funciones
        [hidden]="helperService.indexStepper !== 1"
      ></serv-talento-funciones>

      <serv-talento-formacion
        [helper30057Service]="helperService"
        [hidden]="helperService.indexStepper !== 2"
      ></serv-talento-formacion>

      <serv-talento-experiencia
        [helper30057Service]="helperService"
        [hidden]="helperService.indexStepper !== 3"
      ></serv-talento-experiencia>
    </div>
  </div>
</div>

<serv-talento-bottom-div
  id="serv_bottom_div_ley276"
  [indexStepper]="helperService.indexStepper"
  [bodySize]="bodySize"
  (previousStep)="previousStep()"
  (nextStep)="nextStep()"
  (createProfile)="createProfile()"
  (cancelClick)="router.navigateByUrl('pages/regperfilpuesto')"
  [createMode]="this.helperService.createMode"
>
</serv-talento-bottom-div>
