<div class='d-flex w-100 header-modal'>
  Agregar Evaluados
  <span class='flex-spacer'></span>
  <nb-icon class='mr-2 btnClose' nbSuffix icon='close' (click)='cerrar()'></nb-icon>
</div>
<mat-divider class='divider-modal'></mat-divider>
<div class="bodyRegisterForm">
  <div class='row mt-4'>
    <div class='col-12'>
      <form [formGroup]="form">
        <nb-form-field class='col-100 mb-4'>
          <label>Seleccionar evaluados</label>
          <nb-select
            [status]="form.get('evaluados').invalid && form.get('evaluados').touched ? 'danger' : 'basic' "
            formControlName="evaluados" placeholder="Seleccione" shape='semi-round' [fullWidth]='true' multiple
            (selectedChange)="evaluadosSeleccionados = $event">
            <nb-select-label>Evaluados seleccionados</nb-select-label>
            <nb-option *ngFor='let m of evaluados' [value]='m'>{{m.apellidosNombres}}</nb-option>
          </nb-select>
          <div class="text-danger" *ngIf="form.get('evaluados').invalid && form.get('evaluados').touched">
            <small>Campo obligatorio</small>
          </div>
          <div class="col-40-100 mt-2">
            <mat-chip-list>
              <mat-chip *ngFor="let e of evaluadosSeleccionados">
                {{e.apellidosNombres}}
              </mat-chip>
            </mat-chip-list>
          </div>
        </nb-form-field>
      </form>
    </div>
    <div class='col text-center'>
      <button
        class='btn btn-info pl-5 pr-5 mr-3 round'
        (click)='guardar()'
      >
        Guardar
      </button>
    </div>
  </div>
</div>
