<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<div class="body">
  <div class="d-flex">
    <h3 class="titlePage">Registro de Entidad</h3>
  </div>

  <mat-divider></mat-divider>

  <div class="row mt-3 ml-3 mr-3" style="padding-bottom: 6.25rem !important;">
    <!---------------------------------------------------------------------->
    <!------ Img section ------>
    <!---------------------------------------------------------------------->

    <div class="col-3 p-0">
      <div class="w-100 px-4 py-4" style="background-color: rgb(245, 245, 245);">
        <label
          class="btnUploadLogo flex-v-center"
          shape="round"
          status="primary"
          fullWidth
          for="file-upload"
        ><img src="assets/images/icons/foto.png" alt="icon" class='documentIcon mr-3'/>
          <!--<nb-icon
            class="documentIcon"
            status="control"
            class="mr-3"
            icon="foto"
          ></nb-icon>-->
          Subir logo
        </label>
        <input id="file-upload" type="file" (change)="fileLogoEvent($event)" />

        <div class="divLogoImg mt-4" *ngIf="this.entidad?.logo || imgData64">
          <img alt="logo_entidad" [src]="this.entidad?.logo || imgData64" />
          <div
            class="btnClearImage flex-v-center mat-elevation-z7"
            (click)="clearImage()"
          >
            <nb-icon class="documentIcon" nbSuffix icon="close"></nb-icon>
          </div>
        </div>
      </div>

      <hr />

      <div class="w-100 px-4 py-4" style="background-color: rgb(245, 245, 245);">
        <label
          class="btnUploadLogo flex-v-center"
          shape="round"
          status="primary"
          fullWidth
          for="file-uploadP"
        >
          <img src="assets/images/icons/foto.png" alt="icon" class='documentIcon mr-3'/>
          Subir portada
        </label>
        <input
          id="file-uploadP"
          type="file"
          (change)="filePortadaEvent($event)"
        />

        <div
          class="divLogoImg mt-4"
          *ngIf="this.entidad?.urlPortada || imgData64P"
        >
          <img
            alt="logo_entidad"
            [src]="this.entidad?.urlPortada || imgData64P"
          />
          <div
            class="btnClearImage flex-v-center mat-elevation-z7"
            (click)="clearImageP()"
          >
            <nb-icon class="documentIcon" nbSuffix icon="close"></nb-icon>
          </div>
        </div>
      </div>
    </div>

    <!---------------------------------------------------------------------->
    <!------ Form data section ------>
    <!---------------------------------------------------------------------->

    <div class="col-9" [formGroup]="entidadForm">
      <div class="row mt-3 ml-3 mr-3">
        <div class="col-2">
          <label>N° de RUC</label>
          <div>{{ entidad?.numeroDocumento || '-' }}</div>
        </div>
        <div class="col-3">
          <label>Razón social</label>
          <div>{{ entidad?.razonSocial || '-' }}</div>
        </div>
        <div class="col-3">
          <label>Nombre comercial</label>
          <div>{{ entidad?.nombreComercial || '-' }}</div>
        </div>
        <div class="col-2">
          <label>Sector</label>
          <div>{{ entidad?.sector || '-' }}</div>
        </div>
        <div class="col-2">
          <label>Nivel de gobierno</label>
          <div>{{ entidad?.nivelGobierno || '-' }}</div>
        </div>
      </div>

      <div class="row separator"></div>

      <div class="row mt-3 ml-3 mr-3">
        <div class="mb-3 col-12">
          <input-field
            [label]="'Nombre entidad'"
            [control]="f.descripcionEntidad"
            [maxlength]="60"
            [banKeyType]="4"
          >
          </input-field>
        </div>

        <div class="col-4">
          <input-field
            [label]="'Siglas entidad'"
            [control]="f.sigla"
            [maxlength]="10"
            [placeholder]="'Ingrese siglas'"
            [banKeyType]="4"
          >
          </input-field>
        </div>
        <div class="col-8">
          <input-field
            [label]="'Dirección Fiscal'"
            [control]="f.direccionFiscal"
            [maxlength]="100"
            [placeholder]="'Ingrese siglas'"
          >
          </input-field>
        </div>
      </div>

      <div class="row mx-3 mt-3">
        <div class="col-12">
          <input-field
            [label]="'Dirección'"
            [control]="f.direccion"
            [maxlength]="100"
            [placeholder]="'Ingrese dirección'"
          >
          </input-field>
        </div>
      </div>

      <div class="row mx-3 mt-3">
        <serv-talento-ubigeo-form
          class="col-12 p-0"
          [departamentoControl]="f.departamentoId"
          [provinciaControl]="f.provinciaId"
          [distritoControl]="f.distritoId"
          [updateArray]="ubigeoToUpdate"
        >
        </serv-talento-ubigeo-form>
      </div>

      <div class="row mt-2 ml-3 mr-3">
        <div class="col-3">
          <input-field
            [label]="'Teléfono'"
            [control]="f.telefono"
            [maxlength]="14"
            [placeholder]="'1234'"
            [banKeyType]="1"
            [placeholder]="'(00) 000000'"
          >
          </input-field>
        </div>

        <div class="col-3">
          <input-field
            [label]="'Anexo/s (Opcional)'"
            [control]="f.anexo"
            [maxlength]="7"
            [placeholder]="'1234'"
            [banKeyType]="1"
          >
          </input-field>
        </div>

        <div class="col-6">
          <label for="correo-mesa-partes">
            Correo de mesa de partes
            <nb-icon
              [nbPopover]="templateRef"
              icon="info"
              nbPopoverPlacement="right"
              nbPopoverTrigger="hint"
              class="popoverTrigger"
            >
            </nb-icon>
          </label>
          <ng-template #templateRef>
            <serv-talento-tooltip-info
              [message]="
                'Ingresa un correo para recibir consultas y quejas sobre convocatorias'
              "
            >
            </serv-talento-tooltip-info>
          </ng-template>
          <input
            formControlName="correo"
            id="correo-mesa-partes"
            placeholder="correo@entidad.com"
            type="text"
            nbInput
            fullWidth
            shape="semi-round"
            fieldSize="large"
            class="text-lowercase"
            maxlength="60"
            [status]="f.correo.invalid && f.correo.touched ? 'danger' : 'basic'"
          />
          <div
            *ngIf="f.correo.invalid && f.correo.touched"
            class="invalid-text flex-column"
          >
            <span *ngIf="f.correo.errors?.required">
              El correo es obligatorio
            </span>
            <span *ngIf="f.correo.errors?.pattern">
              Formato de correo inválido
            </span>
            <span *ngIf="f.correo.errors?.minlength">
              El texto introducido es muy corto
            </span>
            <span *ngIf="f.correo.errors?.maxlength">
              El texto introducido es muy largo
            </span>
          </div>
        </div>
      </div>

      <div class="row mt-4 ml-3 mr-3">
        <div class="col-12">
          <label for="urlWeb">¿Tienes página web de tu institución?
          <br>
          <div class='mb-1'>Ingrésela aquí (opcional)</div></label>
          <input
            class="mt-2"
            id="urlWeb"
            placeholder="www.web.com"
            type="text"
            nbInput
            fullWidth
            shape="semi-round"
            fieldSize="large"
            formControlName="urlWeb"
            class="text-lowercase"
            maxlength="60"
            #url
            [value]="url.value.toLowerCase()"
            [status]="f.urlWeb.invalid && f.urlWeb.touched ? 'danger' : 'basic'"
          />
          <div
            *ngIf="f.urlWeb.invalid && f.urlWeb.touched"
            class="invalid-text flex-column"
          >
            <span *ngIf="f.urlWeb.errors?.pattern">
              Formato de página web inválido
            </span>
            <span *ngIf="f.urlWeb.errors?.minlength">
              El texto introducido es muy corto
            </span>
            <span *ngIf="f.urlWeb.errors?.maxlength">
              El texto introducido es muy largo
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divbottom px-5">
  <button
    nbButton
    shape="round"
    status="primary"
    class="px-5"
    (click)="saveEntidad()"
    [disabled]="this.entidadForm.invalid"
  >
    Guardar
  </button>
</div>
