@import '_colors';

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.titlePage {
  margin-left: 24px;
  align-items: center;
}

.container-table {
  padding: 1rem !important;
  padding-top: 3rem !important;
}

