<div class="d-flex w-100">
  <span class="flex-spacer"></span>
  <nb-icon class="mr-2 btnClose" nbSuffix icon="close" (click)="onNoClick()"></nb-icon>
</div>

<div class="py-2 px-2 bodyModal">
  <div class="flex-v-center">
    <img src="assets/images/icons/salir.png" alt="Logo pregunta eliminar" />
  </div>

  <div class="title fw-600 flex-v-center mt-4" *ngIf="data.type === 'input'">
    Evaluación curricular
  </div>

  <div class="title fw-600 flex-v-center mt-4" *ngIf="data.type === 'alert'">
    Validar
  </div>

  <div class="fw-400 text-center my-3" *ngIf="data.type === 'input'">
    <strong>¿Desea cambiar el estado de esta sección?</strong>
  </div>

  <div class="fw-400 text-center my-3" *ngIf="data.type === 'alert'">
    La documentación presentada por el postulante <strong>{{ data.nombres }}</strong>, es correcta y cumple con los
    requisitos solicitados por la entidad.
  </div>

  <form [formGroup]="form" autocomplete="off">
    <div *ngIf="data.type === 'input'" class="input__textarea">
      <label>Ingrese una breve descripción</label>
      <textarea class="p-2" maxlength="200" formControlName="comentario" rows="4"></textarea>
      <div class="number">{{ f.comentario.length }}/200</div>
    </div>
  </form>

  <div class="flex-v-center mt-4">
    <button nbButton outline shape="round" status="primary" class="py-2 px-5 mr-3" (click)="onNoClick(false)">
      Cancelar
    </button>
    <button nbButton shape="round" status="primary" class="py-2 px-5" (click)="onNoClick(true)">
      Aceptar
    </button>
  </div>
</div>
