@import '_colors';

.iconAdd {
    color: $primary-color;
}

.iconRemove {
    color: $red;
}

.iconAdd,
.iconRemove {
    user-select: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.75rem;
    &:hover {
        transform: scale(1.2);
    }
}
