<div class="title row">
  <h4 class="titlePage">Evaluación de Conocimiento</h4>
  <h4 class="categoria-sub">{{ cabecera }}</h4>
</div>
<mat-divider></mat-divider>
<div class="row">
  <div class="mt-4 mb-4 col-md-4">
    <div style="font-size: 1rem; text-align: end">Código de evaluación:</div>
    <div
      style="
        font-size: 0.75rem;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 500;
        color: #0d88bc;
        text-align: end;
      "
    >
      {{ examenId }}
    </div>
  </div>
  <div class="mt-4 mb-4 col-md-4">
    <div style="font-size: 1rem; text-align: center">Convocatoria:</div>
    <div
      style="
        font-size: 0.75rem;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 500;
        color: #0d88bc;
        text-align: center;
      "
    >
      {{ convocatoria }} | {{ regimen }}
    </div>
  </div>
  <div class="mt-4 mb-4 col-md-4">
    <div style="font-size: 1rem; text-align: initial">Perfil del puesto:</div>
    <div
      style="
        font-size: 0.75rem;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: 500;
        color: #0d88bc;
        text-align: initial;
      "
    >
      {{ perfil }}
    </div>
  </div>
</div>
