<!--<div class="d-flex w-100">
    <span class="flex-spacer"></span>
    <nb-icon class="mr-2 btnClose" nbSuffix icon="close"  (click)="onNoClick()"></nb-icon>
</div>-->

<div class="col-md-12 row h-100 p-0 m-0">
  <h6>Resolución</h6>
  <span class="flex-spacer"></span>
  <nb-actions
    size="small"
    style="place-content: flex-end"
    class="col-md-12 position-absolute"
  >
    <nb-action
      class="control-item p-0 justify-content-end"
      icon="close"
      (click)="onNoClick()"
    ></nb-action>
  </nb-actions>
</div>

<div class="bodyRegisterForm">
  <div class="container-fluid pt-2 px-5">
    <form class="row mt-2" [formGroup]="filterForm">
      <div class="col-md-12 mb-3">
        <label>Nombre de resolución</label>
        <input
          trim="blur"
          placeholder="Ingrese descripción"
          type="text"
          nbInput
          shape="semi-round"
          fullWidth
          formControlName="nombreArchivo"
          fieldSize="medium"
          [status]="
          f.nombreArchivo.invalid && f.nombreArchivo.touched
            ? 'danger'
            : 'basic'
        "
        />
        <div
            *ngIf="f.nombreArchivo.invalid && f.nombreArchivo.touched"
            class="invalid-text flex-column"
          >
            <span *ngIf="f.nombreArchivo.errors.required"
              >El campo es obligatorio</span
            >
        </div>
      </div>

      <div class="mb-3 col-md-6">
        <label for="fechaIni">Fecha de Aprobación</label>
        <nb-form-field>
          <input
            id="fechaApro"
            #fechaApro
            formControlName="fechaApro"
            nbInput
            placeholder="dd/mm/aaaa"
            [nbDatepicker]="dateTimePicker2"
            fieldSize="medium"
            shape="semi-round"
            [status]="
                f.fechaApro.invalid && f.fechaApro.touched
                  ? 'danger'
                  : 'basic'
              "
          />
          <nb-icon
            style="cursor: pointer"
            nbSuffix
            class="mr-2 pointer"
            (click)="fechaApro.click()"
            icon="calendar-outline"
          >
          </nb-icon>
          <nb-datepicker #dateTimePicker2></nb-datepicker>
        </nb-form-field>
        <div
            *ngIf="f.fechaApro.invalid && f.fechaApro.touched"
            class="invalid-text flex-column"
          >
            <span *ngIf="f.fechaApro.errors.required"
              >El campo es obligatorio</span
            >
        </div>
      </div>

      <!-- -------------------------------- Inicio- selección multiple---------------------------- -->
      <div class="mb-3 col-md-6">
        <div class="col-100">
          <label>Responsables</label>
          <nb-form-field>
            <nb-select
              multiple
              placeholder="Elije el responsable"
              fullWidth="true"
              formControlName="responsables"
              [size]="'medium'"
              shape="semi-round"
              [status]="
                f.responsables.invalid && f.responsables.touched
                  ? 'danger'
                  : 'basic'
              "
              (selectedChange)="cambioResponsables($event)"
            >
              <nb-select-label> Responsable seleccionados: </nb-select-label>
              <!--<nb-option>Elije el responsable</nb-option>-->
              <nb-option
                *ngFor="let cboResponsable of responsable"
                [value]="cboResponsable.parametroId"
              >
                {{ cboResponsable.valorTexto }}
              </nb-option>
            </nb-select>
          </nb-form-field>
          <div
            *ngIf="f.responsables.invalid && f.responsables.touched"
            class="invalid-text flex-column"
          >
            <span *ngIf="f.responsables.errors.required"
              >El campo es obligatorio</span
            >
          </div>
        </div>
        <div class="mt-2 buttomagregar">
          <mat-chip-list style="flex-wrap: nowrap">
            <mat-chip *ngFor="let cboResponsable of responsableslistSelect">
              {{ cboResponsable.valorTexto }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <!-- -------------------------------- Fin- selección multiple---------------------------- -->
      <!-- -------------------------------- Inicio - Drag and Drop ---------------------------- -->

      <h6>Ingresar archivo de resolución</h6>

      <div class="dropzone" *ngIf="!file">
        <input
          type="file"
          #fileDropRef
          id="fileDropRef"
          accept="application/pdf"
          (change)="archivoSeleccionado($event)"
        />
        <h6>Arrastra y suelta tu archivo aquí</h6>
        <h6>ó</h6>
        <button
          nbButton
          shape="round"
          size="medium"
          style="color: #0dacbc; background-color: white; border-color: #0dacbc"
          class="py-2.5 px-5 mr-3"
        >
          Subir resolución
        </button>
      </div>

      <div class="dropzone" *ngIf="file">
        <div class="row col-md-12 m-0 p-0">
          <div class="col-md-1">
            <nb-action
              class="control-item p-0 justify-content-around"
              icon="file"
            ></nb-action>
          </div>
          <div class="col-md-10 p-0 fs-12 text-left">
            {{ file.name }}
          </div>
          <div class="col-md-1 m-0 p-0">
            <nb-action
              class="control-item p-0 justify-content-end"
              icon="close-circle"
              (click)="deleteFile()"
            ></nb-action>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-1 p-1"></div>

      <span>Peso máximo de archivo 1 MB</span>

      <div class="col-md-12"></div>
      <div class="offset-4 col-md-8 my-3">
        <button
          nbButton
          class="btn-login"
          style="color: white; background-color: #0dacbc"
          shape="round"
          size="medium"
          [disabled]="f.invalid&&f.touched"
          (click)="saveResolucion()"
        >
          Registrar resolución
        </button>
      </div>
      <!-- -------------------------------- Inicio - Drag and Drop ---------------------------- -->
    </form>
  </div>
</div>

<!-- <hr>
<pre>
  Estado de formulario: {{ filterForm.valid }}
  <br>
  Status: {{ filterForm.status }}
</pre>

<pre>
  {{ filterForm.value | json }}
</pre> -->
