.logo {
  width: 60px;
  height: 60px;
}

.custom-text-color {
  color: #0d88bc !important;
}

.custom-row-buttons {
  text-align-last: center;
}

.custom-tab-group {
  border: 1px solid #f0f0f0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.custom-evaluacion {
  place-content: flex-end;
  margin-bottom: -50px;
}
