<div class="body">
  <div class="title">
    <h4 class="titlePage">Evaluaciones de Conocimiento</h4>
  </div>
  <mat-divider></mat-divider>
  <div class="title-container">
    <div class="mis-examenes-title-container">
      <img src="assets/images/icons/formulario.png" alt="Logo" />
      <span class="titlePage mis-examenes-title">Mis Exámenes</span>
    </div>
    <div class="crear-examen">
      <button
        matRipple
        type="button"
        nbButton
        shape="round"
        status="primary"
        class="px-5"
        routerLink="crear-registro"
      >
        Crear Examen
      </button>
    </div>
  </div>

  <div style="padding-left: 10%; padding-right: 10%; margin-top: 20px">
    <div class="subtitle">Filtros de búsqueda</div>

    <div class="row mt-3">
      <div class="col-8">
        <input-field
          [control]="f.nombreExamen"
          label="Nombre del Examen"
          placeholder="Buscar Nombre del Exámen"
          [maxlength]="45"
          [banKeyType]="5"
          [minlength]="0"
        >
        </input-field>
      </div>

      <div class="col-4">
        <div class="w-100 h-100 btn_area">
          <button
            matRipple
            nbButton
            shape="round"
            size="medium"
            status="primary"
            outline
            (click)="this.limpiar()"
          >
            Limpiar
          </button>
          <button
            matRipple
            nbButton
            shape="round"
            size="medium"
            status="primary"
            (click)="this.buscar()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>

    <div style="margin-top: 32px">
      <div
        class="flex-v-center flex-column"
        *ngIf="this.examenes.length === 0 && !this.searchMode"
      >
        <img
          width="70px"
          alt="imagen bandeja"
          src="assets/images/icons/bandeja.png"
          class="my-3"
        />
        <span class="fs-13">No tienes Examenes creados.</span>
        <span class="fs-13">
          Para crearlos da <strong>click</strong> al botón
          <strong>"Crear Exámen"</strong>
        </span>
      </div>

      <ng-container *ngIf="this.examenes.length > 0 || this.searchMode">
        <div class="subtitle">Lista de Exámenes</div>
        <serv-talento-table
          [tableData]="this.examenes"
          [tableColumns]="this.examenesColumns"
          title="Lista de Exámenes"
          [isFilterable]="true"
          [isPageable]="true"
          [paginationSizes]="[5]"
          [defaultPageSize]="5"
          (sort)="sortData($event)"
          [acciones]="true"
          [btnEditEnabled]="true"
          (editAction)="this.edit($event)"
          editTitle="Editar"
          [btnDeleteEnabled]="true"
          (deleteAction)="this.delete($event)"
          deleteTitle="Eliminar"
          [btnViewEnabled]="true"
          (viewAction)="viewExamen($event)"
          viewTitle="Ver examen"
          [showDownloadButton]="true"
          [dataExport]="getDataExport()"
          fontSize="fs-14"
          rowHeight="54px"
        >
        </serv-talento-table>
      </ng-container>
    </div>
  </div>
</div>
