@import 'colors';

.modal-body {
  width: 56.25rem;
}

.name__table {
  color: $primary-color;
  font-weight: 600;
}

h5 {
  color: $primary-color;
}

.form-body {
  border: 1px solid $light-gray;
  padding: 0.625rem;
  border-radius: 0.5rem;
}
