<div style="background-color: white !important">
    <div class="w-100 h-100 px-5 py-3 flex-v-center flex-column">
      <img src="assets/images/icons/check.png" alt="envio imagen" />

      <div class="mt-3 center">
        El archivo ingresado se validó de manera exitosa
      </div>

      <div class="mt-3 mb-3 col-md-11 btn_externo">
        <div class="w-100 h-100 btn_area">
          <button
            nbButton
            shape="round"
            size="medium"
            status="primary"
            (click)="onClickAceptar()"
            style='color: white; background-color: #0dacbc; '
          >
            Aceptar
          </button>
      
        </div>
  

    </div>
  </div>
