@import '../../../@common-components/material-table/material-table.component.scss';
@import 'colors';

.statusSpan {
  width: 5rem;
  border-radius: 0.25rem;
}

.statusDatosPersonales {
  width: 95%;
}

.cursor-pointer {
  cursor: pointer;
}

.statusCalifica {
  background-color: #00b167;
  color: white;
}

.statusNoCalifica {
  background-color: #bdbdbd;
  color: black;
}

.statusDescalificado {
  background-color: #a7dbf1;
}

.statusNoAsistio {
  background-color: #f2994a;
  color: white;
}

.btnVer {
  color: $primary_color;
  &:disabled {
    color: rgba(13, 136, 188, 0.3);
  }
  background: none;
  padding: 0.125rem 0.25rem;
  border: none;
  border-radius: 0.125rem;
  transition: 0.2s;
  &:enabled:hover {
    transform: scale(1.3);
  }
}

.btn {
  transition: 0.2s;
  &:enabled:hover {
    transform: scale(1.3);
  }
}
