<div>
  <div class="d-flex title-container">
    <h4 class="titlePage">Reportes</h4>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-12">
      <mat-tab-group
        class="mt-3 px-2 custom-tab-group"
        mat-align-tabs="start"
        dynamicHeight
      >
        <mat-tab>
          <ng-template mat-tab-label>
            <img
              src="/assets/images/icons/convocatoria.svg"
              alt="imagen convocatoria"
              class="mr-2"
            />Convocatorias
            <nb-icon
              [nbPopover]="templateRef"
              icon="convocatoria"
              nbPopoverPlacement="right"
              nbPopoverTrigger="hint"
              class="popoverTrigger fs-18"
            >
            </nb-icon>
          </ng-template>

          <div style="padding: 1rem">
            <form [formGroup]="form" class="mt-3">
              <div
                (click)="visibleFilters = !visibleFilters"
                class="subtitle d-flex cursor-pointer"
              >
                Filtros de búsqueda
                <mat-icon
                  [ngStyle]="{
                    transform: visibleFilters ? 'rotate(90deg)' : 'none'
                  }"
                  class="transition"
                  >arrow_right</mat-icon
                >
              </div>

              <div *ngIf="visibleFilters">
                <div
                  class="row mt-3"
                  style="background-color: #f4fcff; padding-top: 1rem"
                >
                  <div class="mb-3 col-md-3">
                    <select-field
                      [label]="'Entidad'"
                      [control]="f.entidad"
                      [items]="entidades"
                      [value]="'entidadId'"
                      [valueToShow]="'descripcionEntidad'"
                      (selectedChange)="entidadSelected($event)"
                    >
                    </select-field>
                  </div>

                  <div class="mb-3 col-md-3">
                    <select-field
                      [label]="'Regimen'"
                      [control]="f.regimen"
                      [items]="regimenes"
                      [value]="'codProg'"
                      [valueToShow]="'descripcion'"
                    >
                    </select-field>
                  </div>

                  <div class="mb-3 col-md-2">
                    <label>Periodo</label>
                    <nb-form-field>
                      <input
                        formControlName="periodo"
                        [nbDatepicker]="rangepicker"
                        nbInput
                        fullWidth
                        class="cursor-pointer"
                        format="DD/MM/YYYY"
                        placeholder="Elegir rango"
                        fieldSize="large"
                      />
                      <nb-icon nbSuffix icon="calendar"></nb-icon>
                      <nb-rangepicker #rangepicker></nb-rangepicker>
                    </nb-form-field>
                  </div>

                  <div class="mb-3 col-md-2">
                    <select-field
                      [label]="'Etapa'"
                      [control]="f.etapa"
                      [items]="etapas"
                      [value]="'maeDetalleId'"
                      [valueToShow]="'descripcion'"
                    >
                    </select-field>
                  </div>

                  <div class="mb-3 col-md-2">
                    <select-field
                      [label]="'Estado'"
                      [control]="f.estado"
                      [items]="estados"
                      [value]="'maeDetalleId'"
                      [valueToShow]="'descripcion'"
                    >
                    </select-field>
                  </div>
                </div>

                <div class="row mt-3" style="padding-top: 1rem">
                  <div class="mb-3 col-md-3">
                    <select-field
                      [label]="'Departamento'"
                      [control]="f.departamento"
                      [items]="departamentos"
                      [value]="'ubigeoId'"
                      [valueToShow]="'nombre'"
                      (selectedChange)="departamentoSelected($event)"
                    >
                    </select-field>
                  </div>

                  <div *ngIf="f.entidad.value" class="mb-3 col-md-3">
                    <select-field
                      [label]="'Roles'"
                      [control]="f.rol"
                      [items]="roles"
                      [value]="'rolId'"
                      [valueToShow]="'nombreRol'"
                    >
                    </select-field>
                  </div>

                  <div
                    *ngIf="responsables.length > 0 && f.rol.value"
                    class="mb-3 col-md-3"
                  >
                    <select-field
                      [label]="'Nombre de responsables'"
                      [control]="f.responsable"
                      [items]="responsables"
                      [value]="'personaId'"
                      [valueToShow]="'fullName'"
                      hideDefaultOption="true"
                    >
                    </select-field>
                  </div>

                  <div class="mb-3 col-md-3">
                    <div class="w-100 h-100 btn_area">
                      <button
                        nbButton
                        (click)="reset()"
                        shape="round"
                        size="medium"
                        status="primary"
                        outline
                      >
                        Limpiar
                      </button>
                      <button
                        nbButton
                        (click)="filter()"
                        shape="round"
                        size="medium"
                        status="primary"
                      >
                        Buscar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <mat-divider></mat-divider>

          <div class="table bg-gray m-0 justify-content-center p-0 pb-4">
            <div class="row p-0 m-0">
              <div class="col-10 m-0 p-0 pl-3">
                <div class="row list__calificado py-2">
                  <ng-container>
                    <div class="list_form--aligncenter pl-2">
                      <div class="fs-12">Tipo Conv.</div>
                    </div>
                    <div
                      class="list_form--point pl-2 fs-20 fw-500 align-self-center"
                    >
                      {{ regimenNombre }}
                    </div>
                  </ng-container>
                  <ng-container>
                    <mat-divider [vertical]="true" class="px-2"></mat-divider>
                    <div class="list_form--aligncenter pl-2">
                      <div class="fs-12">Periodo</div>
                      <nb-icon
                        nbPrefix
                        icon="calendario"
                        class="pt-0"
                      ></nb-icon>
                    </div>
                    <div
                      class="list_form--point pl-2 fs-20 fw-500 align-self-center"
                    >
                      {{
                        fechaIni == undefined && fechaFin == undefined
                          ? ' - '
                          : 'del ' +
                            getRelativeDate(fechaIni) +
                            ' a ' +
                            getRelativeDate(fechaFin)
                      }}
                    </div>
                  </ng-container>

                  <ng-container>
                    <mat-divider [vertical]="true" class="px-2"></mat-divider>
                    <div class="list_form--aligncenter pl-2">
                      <div class="fs-12">Departamento</div>
                      <img
                        src="assets/images/icons/users-validacion_negativa.svg"
                        alt="validacion-negativa"
                      />
                    </div>
                    <div
                      class="list_form--point pl-2 fs-20 fw-500 align-self-center"
                    >
                      {{ departamentoNombre | titlecase }}
                    </div>
                  </ng-container>

                  <ng-container>
                    <mat-divider [vertical]="true" class="px-2"></mat-divider>
                    <div class="list_form--aligncenter pl-2">
                      <div class="fs-12">Cant.Conv.</div>
                      <nb-icon nbPrefix icon="puesto" class="pt-0"></nb-icon>
                    </div>
                    <div
                      class="list_form--point pl-2 fs-20 fw-500 align-self-center"
                    >
                      {{ data.length }}
                    </div>
                  </ng-container>

                  <ng-container>
                    <mat-divider [vertical]="true" class="px-2"></mat-divider>
                    <div class="list_form--aligncenter pl-2">
                      <div class="fs-12">Cant.postulantes</div>
                      <img
                        src="assets/images/icons/users.svg"
                        alt="validacion-negativa"
                      />
                    </div>
                    <div
                      class="list_form--point pl-2 fs-20 fw-500 align-self-center"
                    >
                      {{ cantPos }}
                    </div>
                    <mat-divider [vertical]="true" class="px-2"></mat-divider>
                  </ng-container>

                  <!-- <div class="list_form--aligncenter pl-2">
                    <div class="fs-12">Califican</div>
                    <nb-icon nbPrefix icon="person-done" class='pt-0' style='color: #00b167'></nb-icon>
                  </div>
                  <div class="list_form--point pl-2 fs-20 fw-500 align-self-center">
                    410
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row mb-4 mt-4">
              <div class="col-12">
                <ng-container>
                  <serv-talento-table-reporte-servir
                    [tableColumns]="columns"
                    [title]="'Listado de Convocatorias'"
                    [tableData]="data"
                    [pageIndex]="page"
                    [paginationSizes]="[10, 30, 100]"
                    [defaultPageSize]="20"
                    [dataExport]="getDataExport()"
                    (pageEvent)="getPaginado($event)"
                    (sort)="sortData($event)"
                  >
                  </serv-talento-table-reporte-servir>
                </ng-container>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
