<div class="body">
  <div class="mt-3" [formGroup]="filterForm">
    <div class="subtitle">Filtros de búsqueda</div>

    <div class="row mt-3" style="background-color: #f4fcff; padding-top: 1em;">
      <div class="col-md-3 mb-3">
        <nb-form-field>
          <label>Código de conv./bases</label>
          <!-- <nb-select formControlName="codigo" placeholder="Seleccione" fullWidth shape="rectangle" size="large"
              >
              <nb-option *ngFor="let item of lstCodigoConvocatoria" [value]="item.codigoConvocatoria">{{
                item.codigoConvocatoria
                }}</nb-option>
            </nb-select> -->
          <input
            #inputCodigo
            formControlName="desCodigo"
            fullWidth
            nbInput
            type="search"
            placeholder="Buscar"
            shape="semi-round"
            maxlength="120"
            class="cursor-pointer"
            autocomplete="off"
            [nbAutocomplete]="autoCodigo"
            fieldSize="large"
            (input)="onChangeCodigo()"
          />

          <nb-icon nbSuffix icon="buscar" class="pt-3 cursor-pointer"></nb-icon>
        </nb-form-field>
        <nb-autocomplete
          #autoCodigo
          (selectedChange)="onSelectionChangeCodigo($event)"
          formControlName="codigo"
          ngDefaultControl
        >
          <nb-option
            *ngFor="let item of filteredOptionsCodigo$ | async"
            [value]="item.codigoConvocatoria"
          >
            {{ item.codigoConvocatoria }}
          </nb-option>
        </nb-autocomplete>
      </div>

      <div class="col-md-2 mb-3">
        <nb-form-field>
          <label>Etapa</label>
          <nb-select
            formControlName="etapa"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            size="large"
          >
            <nb-option
              *ngFor="let item of lstEtapas"
              [value]="item.maeDetalleId"
              >{{ item.descripcion }}</nb-option
            >
          </nb-select>
        </nb-form-field>
      </div>

      <div class="col-md-3 mb-3">
        <label>Periodo</label>
        <nb-form-field>
          <input
            formControlName="periodo"
            nbInput
            placeholder="Periodo"
            [nbDatepicker]="formpicker"
            fieldSize="large"
            shape="semi-round"
            [status]="rangePickerStatus"
            (ngModelChange)="validRangeDateFormat($event)"
          />
          <nb-icon
            style="cursor: pointer;"
            nbSuffix
            class="mr-2"
            icon="calendario"
          >
          </nb-icon>
          <nb-rangepicker #formpicker></nb-rangepicker>
        </nb-form-field>
        <div
          *ngIf="f.periodo.invalid && f.periodo.touched"
          class="invalid-text m-0"
        >
          <span *ngIf="f.periodo.errors?.required">
            El campo es obligatorio
          </span>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <nb-form-field>
          <label>Departamento</label>
          <nb-select
            formControlName="departamento"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            size="large"
          >
            <nb-option
              *ngFor="let item of lstDepartamentos"
              [value]="item.ubigeoId"
              >{{ item.nombre }}</nb-option
            >
          </nb-select>
        </nb-form-field>
      </div>

      <div class="col-md-2 mb-3">
        <nb-form-field>
          <label>Estado</label>
          <nb-select
            formControlName="estado"
            placeholder="Seleccione la evaluacion"
            fullWidth
            shape="rectangle"
            size="large"
          >
            <nb-option
              *ngFor="let item of lstEstadoConvocatoria"
              [value]="item.maeDetalleId"
              >{{ item.descripcion }}</nb-option
            >
          </nb-select>
        </nb-form-field>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3 mb-3">
        <nb-form-field>
          <label>Modalidad de acceso</label>
          <nb-select
            formControlName="modalidad"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            size="large"
          >
            <nb-option
              *ngFor="let item of lstModalidadAcceso"
              [value]="item.maeDetalleId"
              >{{ item.descripcion }}</nb-option
            >
          </nb-select>
        </nb-form-field>
      </div>

      <div class="col-md-2 mb-3">
        <nb-form-field>
          <label>Régimen</label>
          <nb-select
            formControlName="regimen"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            size="large"
            (selectedChange)="onChangeRegimen($event)"
          >
            <nb-option
              *ngFor="let item of lstRegimen"
              [value]="item.idRegimen"
              >{{ item.desRegimen }}</nb-option
            >
          </nb-select>
        </nb-form-field>

        <div
          *ngIf="f.regimen.invalid && f.regimen.touched"
          class="invalid-text m-0"
        >
          <span *ngIf="f.regimen.errors?.required">
            El campo es obligatorio
          </span>
        </div>
      </div>

      <div class="col-md-2 mb-3">
        <nb-form-field>
          <label>Tipo</label>
          <nb-select
            formControlName="tipo"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            [disabled]="flagTipo"
            size="large"
          >
            <nb-option
              *ngFor="let item of lstModalidadIngreso"
              [value]="item.maestraDetalleId"
              >{{ item.descripcion }}</nb-option
            >
          </nb-select>
        </nb-form-field>
      </div>

      <div class="col-md-3 mb-3">
        <nb-form-field>
          <label>Nombre de perfil</label>
          <nb-select
            formControlName="perfil"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            size="large"
          >
            <nb-option
              *ngFor="let item of lstPerfiles"
              [value]="item.perfilId"
              >{{ item.nombrePuesto }}</nb-option
            >
          </nb-select>
        </nb-form-field>
      </div>

      <div class="col-md-2 mb-3">
        <nb-form-field>
          <label>Rango salarial</label>
          <nb-select
            formControlName="rango"
            placeholder="Seleccione la evaluacion"
            fullWidth
            shape="rectangle"
            size="large"
          >
            <nb-option value="1">De 800 a 1,500</nb-option>
            <nb-option value="2">De 1,501 a 3,000</nb-option>
            <nb-option value="3">De 3,001 a 5,000</nb-option>
            <nb-option value="4">Todos</nb-option>
          </nb-select>
        </nb-form-field>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2 mb-3">
        <nb-form-field>
          <label>Roles</label>
          <nb-select
            formControlName="rol"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            size="large"
            (selectedChange)="onChangeRol($event)"
          >
            <nb-option *ngFor="let item of lstRoles" [value]="item.rolId">{{
              item.nombreRol
            }}</nb-option>
            <nb-option value="0">TODOS</nb-option>
          </nb-select>
        </nb-form-field>
      </div>

      <div class="col-md-4 mb-3">
        <nb-form-field>
          <label>Nombre de responsable</label>
          <nb-select
            formControlName="responsable"
            placeholder="Seleccione"
            fullWidth
            shape="rectangle"
            size="large"
          >
            <nb-option
              *ngFor="let item of lstResponsables"
              [value]="item.usuarioId"
              >{{ item.nombreCompleto }}</nb-option
            >
          </nb-select>
        </nb-form-field>
      </div>
      <div class="col-md-3 mb-3"></div>
      <div class="col-md-3 mb-3">
        <div class="w-100 h-100 btn_area">
          <button
            nbButton
            shape="round"
            size="medium"
            status="primary"
            outline
            (click)="limpiar()"
          >
            Limpiar
          </button>
          <button
            nbButton
            shape="round"
            size="medium"
            status="primary"
            (click)="buscar()"
          >
            Buscar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
<div class="table bg-gray m-0 justify-content-center p-0 pb-4">
  <div class="row p-0 m-0">
    <div class="col-10 m-0 p-0 pl-3">
      <div class="row list__calificado py-2">
        <div class="list_form--aligncenter pl-2">
          <div class="fs-12">Periodo</div>
          <nb-icon nbPrefix icon="calendario" class="pt-0"></nb-icon>
        </div>
        <div class="list_form--point pl-2 fs-20 fw-500 align-self-center">
          {{ resumen.periodoConv }}
        </div>
        <mat-divider [vertical]="true" class="px-2"></mat-divider>

        <div class="list_form--aligncenter pl-2">
          <div class="fs-12">Departamento</div>
          <img
            src="assets/images/icons/users-validacion_negativa.svg"
            alt="validacion-negativa"
          />
        </div>
        <div class="list_form--point pl-2 fs-20 fw-500 align-self-center">
          {{ resumen.descDepartamento }}
        </div>
        <mat-divider [vertical]="true" class="px-2"></mat-divider>

        <div class="list_form--aligncenter pl-2">
          <div class="fs-12">Cant.Conv.</div>
          <nb-icon nbPrefix icon="puesto" class="pt-0"></nb-icon>
        </div>
        <div class="list_form--point pl-2 fs-20 fw-500 align-self-center">
          {{ resumen.cantConvocatorias }}
        </div>
        <mat-divider [vertical]="true" class="px-2"></mat-divider>

        <div class="list_form--aligncenter pl-2">
          <div class="fs-12">Cant.postulantes</div>
          <img src="assets/images/icons/users.svg" alt="validacion-negativa" />
        </div>
        <div class="list_form--point pl-2 fs-20 fw-500 align-self-center">
          {{ resumen.cantPostulantes }}
        </div>
        <mat-divider [vertical]="true" class="px-2"></mat-divider>

        <div class="list_form--aligncenter pl-2">
          <div class="fs-12">Califican</div>
          <nb-icon
            nbPrefix
            icon="person-done"
            class="pt-0"
            style="color: #00b167;"
          ></nb-icon>
        </div>
        <div class="list_form--point pl-2 fs-20 fw-500 align-self-center">
          {{ resumen.cantCalifican }}
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row mb-4 mt-4">
    <div class="col-12">
      <ng-container>
        <serv-talento-table-reporte-convocatoria
          [tableColumns]="this.columns"
          [title]="'Listado de Convocatorias'"
          [tableData]="this.data"
          [pageIndex]="this.page"
          [paginationSizes]="[20, 50, 100]"
          [defaultPageSize]="20"
          [dataExport]="getDataExport()"
          (pageEvent)="getPaginado($event)"
          (sort)="sortData($event)"
          (openDetalleConvocatoria)="openDetalleConvocatoria($event)"
          (procesoAction)="verMensaje($event)"
        >
        </serv-talento-table-reporte-convocatoria>
      </ng-container>
    </div>
  </div>
</div>
