.title {
  margin-left: 10%;
  margin-right: 10%;
}
.title-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 10%;
  margin-right: 10%;
}
.subtitle {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 10%;
}
.etiqueta-busqueda {
  font-size: 1.25rem;
  margin-top: 25px;
}
.crear-categoria {
  margin-top: 15px;
  margin-right: 10%;
  color: #0d88bc !important;
}

.categoria-sub {
  text-align: right;
  position: absolute;
  right: 12%;
  color: #444;
  font-weight: 400;
}

.imagenBase {
  transform: scaleX(-1);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 10%;
}

.cabeceraCar {
  background-color: #0d88bc !important;
  text-align: center;
  color: #ffffff;
}

.bodyCar {
  display: flex;
  align-items: center;
}
