<nb-card class="parent-card">
  <nb-card-body class="parent-body">
    <div class="titleDiv flex-v-center-column text-center">
      <img src="assets/images/icons/lock-password.png" alt="" />
      <div class="py-2">Olvidé mi contraseña</div>
      <span>Para ayudarte de manera segura necesitamos que</span>
      <span>ingreses tu correo con el que te registraste</span>
    </div>

    <div class="form-control-group py-2 pt-4">
      <label for="mail">N° de documento de identidad</label>
      <nb-form-field class="w-100">
        <nb-icon nbPrefix icon="usuario"></nb-icon>
        <input
          id="mail"
          [formControl]="numeroDocumento"
          type="text"
          nbInput
          fullWidth
          placeholder="12345678"
          shape="semi-round"
          fieldSize="large"
          (keyup.enter)="sendData()"
          maxlength="12"
          #document
          [value]="this.document.value.toUpperCase()"
          [status]="
            numeroDocumento.invalid && numeroDocumento.touched
              ? 'danger'
              : 'basic'
          "
          oninput="this.value = this.value.replace(/[^a-zA-Z0-9]/g, '')"
        />
      </nb-form-field>
      <div
        *ngIf="numeroDocumento.invalid && numeroDocumento.touched"
        class="invalid-text flex-column"
      >
        <span *ngIf="numeroDocumento.errors.required">
          El campo es obligatorio
        </span>
        <span *ngIf="numeroDocumento.errors.pattern">
          Solo se aceptan números y letras
        </span>
        <span *ngIf="numeroDocumento.errors.minlength">
          El texto introducido es muy corto
        </span>
        <span *ngIf="numeroDocumento.errors.maxlength">
          El texto introducido es muy largo
        </span>
      </div>
    </div>

    <div class="endSection pt-4">
      <button [routerLink]="'/auth/login'">Volver</button>
      <button (click)="sendData()">Enviar</button>
    </div>
  </nb-card-body>
</nb-card>
