label, .titulo {
    color: #000000 !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.panel {
    max-width: 550px;
}

.titulo {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 21px;
}

.sub-titulo {
    font-size: 16px !important;
    line-height: 19px;
}

.etiqueta {
    font-size: 14px !important;
    line-height: 16px;
}

button {
    width: 150px !important;
    height: 38px;
}
