<div class="modal-header">
  <h6 class="modal-title" id="modal-basic-title">Alerta</h6>
  <div class="d-flex w-100">
    <span class="flex-spacer"></span>
    <nb-icon
      class="mr-2 btnClose"
      nbSuffix
      icon="close"
      (click)="cerrar(false)"
    ></nb-icon>
  </div>
</div>


<div class="py-4 px-2 bodyModal">
  <div class="flex-v-center">
    <img [src]="data?.rutaImagen || rutaImagen" alt="Logo pregunta eliminar" />
  </div>

  <div class="fw-400 flex-v-center mt-4" style="text-align: center;"
   [innerHTML]="data?.bodyText || '¿Está seguro que desea continuar?'">
  </div>

  <div class="flex-v-center mt-4">

    <button
     *ngIf="question"
      nbButton
      shape="round"
      status="primary"
      class="py-2 px-5 mr-3"
      (click)="cerrar(true)"
      style='color: white; background-color: #0DACBC; border-color: #0DACBC;'
      size="large"
    >
      {{ data.textOk || 'Aceptar' }}
    </button>

    <button
      *ngIf="question && info"
      nbButton
      shape="round" size="medium"
      outline
      shape="round"
      status="primary"
      style='color: white; background-color: #0DACBC;'
      class="py-2 px-5"
      (click)="cerrar(false)"
      style='color: white; background-color: #ADB5BD; border-color: #ADB5BD;'
      size="large"
    >
      {{ data.textCancel || 'Cancelar' }}
    </button>
  </div>
</div>
